<!DOCTYPE html>

<html lang="ko-KR" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comaptible" content="IE=Edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="description" content="객실 및 예약설정에서 광고상품 구매까지 모든 관리가 가능한 여기어때 호스트하우스 전용 통합 마케팅 플랫폼">
    <meta name="keywords" content="여기어때, 사장님사이트, 호스트하우스, 호스트홍보, 게스트하우스, 사장님전용사이트">
    <meta name="author" content="Gray"><!-- humans.txt 처리 권장 -->
    <meta name="apple-mobile-web-app-title" content="여기어때 호스트 하우스" />
    <meta name="viewport"
        content="width=device-width, initial-scale=0.3, minimum-scale=0.3, maximum-scale=1, user-scalable=yes">
    <title>여기어때 호스트 하우스</title>
    <link rel="canonical" href="https://guest.goodchoice.kr" />
    <link rel="shortcut icon" type="image/x-icon" href="../host/img/asset/favicon_170822.ico" />
    <link href="../host/css/bootstrap.min.css" rel="stylesheet">
    <link href="../host/css/common.host.css?rand=1628154923" rel="stylesheet">

    <script src="../host/js/jquery-2.1.3.min.js"></script>
    <script src="../host/js/jquery-ui.min.js"></script>
    <script src="../host/js/jquery.lazyload.min.js"></script> <!-- 담당자 추가, 로그아웃-->

                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>



</head>

<body id="main">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNLLB5W" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <!-- 헤더 -->
    <div th:replace="hostthy/host-header :: host-header"></div>
    <!--헤더 끝 -->


    <section class="container">
        <div class="menu-step3">
            <div class="todo-layer">
                <nav>
                    <ul>
                        <li>
                            <span class="btn-todo on"><img src="../host/img/asset/icn_1_info_64x64.png"></span>
                            <span class="todo-desc on">마이페이지 입력</span>
                        </li>
                        <li class="prog">
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                        </li>
                        <li>
                            <span class="btn-todo"><img src="../host/img/asset/icn_2_write_64x64.png"></span>
                            <span class="todo-desc">소개 작성</span>
                        </li>
                        <li class="prog">
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                        </li>
                        <li>
                            <span class="btn-todo"><img src="../host/img/asset/icn_3_rule_64x64.png"></span>
                            <span class="todo-desc">이용규칙 관리</span>
                        </li>
                        <li class="prog">
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="do">&nbsp;</span>
                        </li>
                        <li>
                            <span class="btn-todo"><img src="../host/img/asset/icn_4_room_64x64.png"></span>
                            <span class="todo-desc">객실 관리</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="list-layer">
<!--            폼 전송 -->
            <form class="form-horizontal" id="my-form" method="post" action="/hosthousemain/introwrite" name="my"
                enctype="multipart/form-data">
                <input type="hidden" name="uno" value="15273241" />
                <input type="hidden" name="memEmail" />
                <input type="hidden" name="ano" value="" />

                <table class="table table-bordered">
                    <colgroup>
                        <col width="136px" />
                        <col width="778px" />
                    </colgroup>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th>호스트 정보</th>
                            <td>
                                <div class="form-layer mb_24">
                                    <span class="form-title">이메일</span>
                                    <span class="form-body memEmail">jeynpyo@gmail.com</span>
                                    <input type="hidden" name="memEmail">
                                </div>
                                <div class="form-layer mb_24">
                                    <span class="form-title">휴대폰 번호</span>
                                    <span class="form-body">


                                        <input class="form-control small-size myHp" type="text" name="phone3"
                                               placeholder="-없이적어주세요" style="width: 200px;">
                                    </span>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <th>
                                예약 알리미
                            </th>
                            <td>
                                <div class="notification-item notification-item-wrap form-inline">
                                    <div class="form-layer mb_24">
                                        <span class="form-title">이름 / <br />수신 종류</span>
                                        <span class="form-body">
                                            <!--담당자 이름-->
                                            <input class="form-control small-size almName" type="text" name="uname"
                                                data-name="notification_name" placeholder="담당자 이름"
                                                style="width:108px" />
                                            <div class="select-style small-size" style="width:108px">
                                                <select data-name="notification_method">
                                                    <option value="SMS" selected>문자메시지</option>
                                                </select>
                                            </div>
                                            <!--문자 almHp-->
                                            <input class="form-control normal-size almHp" type="text" style="width:298px"
                                                data-name="notification_number" placeholder="정보를 입력하세요. (띄어쓰기 제외)" />
                                        </span>
                                    </div>
                                    <div class="form-layer mb_24">
                                        <span class="form-title">요일 / <br />시간 선택</span>
                                        <div class="form-layer form-body ">
                                            <div class="chk_date">
                                                <label class="checkbox-inline icon-label"><input type="checkbox"
                                                        data-name="notification_mon" checked="checked">월</label>
                                                <label class="checkbox-inline icon-label"><input type="checkbox"
                                                        data-name="notification_tue" checked="checked">화</label>
                                                <label class="checkbox-inline icon-label"><input type="checkbox"
                                                        data-name="notification_wed" checked="checked">수</label>
                                                <label class="checkbox-inline icon-label"><input type="checkbox"
                                                        data-name="notification_thr" checked="checked">목</label>
                                                <label class="checkbox-inline icon-label"><input type="checkbox"
                                                        data-name="notification_fri" checked="checked">금</label>
                                                <label class="checkbox-inline icon-label"><input type="checkbox"
                                                        data-name="notification_sat" checked="checked">토</label>
                                                <label class="checkbox-inline icon-label"><input type="checkbox"
                                                        data-name="notification_sun" checked="checked">일</label>
                                            </div>
                                            <div class="select-style small-size" style="width:100px;">
                                                <select data-name="notification_from" name="almStime">
                                                    <option value="0000" selected="selected">00:00 부터</option>
                                                    <option value="0100">01:00 부터</option>
                                                    <option value="0200">02:00 부터</option>
                                                    <option value="0300">03:00 부터</option>
                                                    <option value="0400">04:00 부터</option>
                                                    <option value="0500">05:00 부터</option>
                                                    <option value="0600">06:00 부터</option>
                                                    <option value="0700">07:00 부터</option>
                                                    <option value="0800">08:00 부터</option>
                                                    <option value="0900">09:00 부터</option>
                                                    <option value="1000">10:00 부터</option>
                                                    <option value="1100">11:00 부터</option>
                                                    <option value="1200">12:00 부터</option>
                                                    <option value="1300">13:00 부터</option>
                                                    <option value="1400">14:00 부터</option>
                                                    <option value="1500">15:00 부터</option>
                                                    <option value="1600">16:00 부터</option>
                                                    <option value="1700">17:00 부터</option>
                                                    <option value="1800">18:00 부터</option>
                                                    <option value="1900">19:00 부터</option>
                                                    <option value="2000">20:00 부터</option>
                                                    <option value="2100">21:00 부터</option>
                                                    <option value="2200">22:00 부터</option>
                                                    <option value="2300">23:00 부터</option>
                                                    <option value="2400">24:00 부터</option>
                                                </select>
                                            </div>
                                            <div class="select-style small-size" style="width:100px">
                                                <select data-name="notification_to" name="almCtime">
                                                    <option value="0100">01:00 까지</option>
                                                    <option value="0200">02:00 까지</option>
                                                    <option value="0300">03:00 까지</option>
                                                    <option value="0400">04:00 까지</option>
                                                    <option value="0500">05:00 까지</option>
                                                    <option value="0600">06:00 까지</option>
                                                    <option value="0700">07:00 까지</option>
                                                    <option value="0800">08:00 까지</option>
                                                    <option value="0900">09:00 까지</option>
                                                    <option value="1000">10:00 까지</option>
                                                    <option value="1100">11:00 까지</option>
                                                    <option value="1200">12:00 까지</option>
                                                    <option value="1300">13:00 까지</option>
                                                    <option value="1400">14:00 까지</option>
                                                    <option value="1500">15:00 까지</option>
                                                    <option value="1600">16:00 까지</option>
                                                    <option value="1700">17:00 까지</option>
                                                    <option value="1800">18:00 까지</option>
                                                    <option value="1900">19:00 까지</option>
                                                    <option value="2000">20:00 까지</option>
                                                    <option value="2100">21:00 까지</option>
                                                    <option value="2200">22:00 까지</option>
                                                    <option value="2300">23:00 까지</option>
                                                    <option value="2400" selected="selected">24:00 까지</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form form-notification">
                                        <div class="notification-item notification-item-wrap form-inline hide">
                                            <div class="form-layer mb_24">
                                                <span class="form-title">이름 / <br />수신 종류</span>
                                                <span class="form-body">
                                                    <input class="form-control small-size" type="text"
                                                        data-name="notification_name" placeholder="담당자 이름"
                                                        style="width:108px" />
                                                    <div class="select-style small-size" style="width:108px">
                                                        <select data-name="notification_method">
                                                            <option value="SMS" selected>문자메시지</option>
                                                            <option value="FAX">FAX</option>
                                                            <option value="EMAIL">이메일</option>
                                                        </select>
                                                    </div>
                                                    <input class="form-control normal-size" type="text"
                                                        style="width:298px" data-name="notification_number"
                                                        placeholder="정보를 입력하세요. (띄어쓰기 제외)" />
                                                </span>
                                            </div>
                                            <div class="form-layer mb_24">
                                                <span class="form-title">요일 / <br />시간 선택</span>
                                                <div class="form-layer form-body ">
                                                    <div class="chk_date">
                                                        <label class="checkbox-inline icon-label"><input type="checkbox"
                                                                data-name="notification_mon" checked="checked" name="week" value="mon">월</label>
                                                        <label class="checkbox-inline icon-label"><input type="checkbox"
                                                                data-name="notification_tue" checked="checked" name="week" value="tue">화</label>
                                                        <label class="checkbox-inline icon-label"><input type="checkbox"
                                                                data-name="notification_wed" checked="checked" name="week" value="wed">수</label>
                                                        <label class="checkbox-inline icon-label"><input type="checkbox"
                                                                data-name="notification_thr" checked="checked" name="week" value="thr">목</label>
                                                        <label class="checkbox-inline icon-label"><input type="checkbox"
                                                                data-name="notification_fri" checked="checked" name="week" value="fri">금</label>
                                                        <label class="checkbox-inline icon-label"><input type="checkbox"
                                                                data-name="notification_sat" checked="checked" name="week" value="sat">토</label>
                                                        <label class="checkbox-inline icon-label"><input type="checkbox"
                                                                data-name="notification_sun" checked="checked" name="week" value="sun">일</label>
                                                    </div>
                                                    <div class="select-style small-size" style="width:100px;">
                                                        <select data-name="notification_from">
                                                            <option value="0000" selected="selected">00:00 부터</option>
                                                            <option value="0100">01:00 부터</option>
                                                            <option value="0200">02:00 부터</option>
                                                            <option value="0300">03:00 부터</option>
                                                            <option value="0400">04:00 부터</option>
                                                            <option value="0500">05:00 부터</option>
                                                            <option value="0600">06:00 부터</option>
                                                            <option value="0700">07:00 부터</option>
                                                            <option value="0800">08:00 부터</option>
                                                            <option value="0900">09:00 부터</option>
                                                            <option value="1000">10:00 부터</option>
                                                            <option value="1100">11:00 부터</option>
                                                            <option value="1200">12:00 부터</option>
                                                            <option value="1300">13:00 부터</option>
                                                            <option value="1400">14:00 부터</option>
                                                            <option value="1500">15:00 부터</option>
                                                            <option value="1600">16:00 부터</option>
                                                            <option value="1700">17:00 부터</option>
                                                            <option value="1800">18:00 부터</option>
                                                            <option value="1900">19:00 부터</option>
                                                            <option value="2000">20:00 부터</option>
                                                            <option value="2100">21:00 부터</option>
                                                            <option value="2200">22:00 부터</option>
                                                            <option value="2300">23:00 부터</option>
                                                            <option value="2400">24:00 부터</option>
                                                        </select>
                                                    </div>
                                                    <div class="select-style small-size" style="width:100px">
                                                        <select data-name="notification_to">
                                                            <option value="0100">01:00 까지</option>
                                                            <option value="0200">02:00 까지</option>
                                                            <option value="0300">03:00 까지</option>
                                                            <option value="0400">04:00 까지</option>
                                                            <option value="0500">05:00 까지</option>
                                                            <option value="0600">06:00 까지</option>
                                                            <option value="0700">07:00 까지</option>
                                                            <option value="0800">08:00 까지</option>
                                                            <option value="0900">09:00 까지</option>
                                                            <option value="1000">10:00 까지</option>
                                                            <option value="1100">11:00 까지</option>
                                                            <option value="1200">12:00 까지</option>
                                                            <option value="1300">13:00 까지</option>
                                                            <option value="1400">14:00 까지</option>
                                                            <option value="1500">15:00 까지</option>
                                                            <option value="1600">16:00 까지</option>
                                                            <option value="1700">17:00 까지</option>
                                                            <option value="1800">18:00 까지</option>
                                                            <option value="1900">19:00 까지</option>
                                                            <option value="2000">20:00 까지</option>
                                                            <option value="2100">21:00 까지</option>
                                                            <option value="2200">22:00 까지</option>
                                                            <option value="2300">23:00 까지</option>
                                                            <option value="2400" selected="selected">24:00 까지</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn_del"
                                                        data-role="remove-number"><span
                                                            class="glyphicon glyphicon-minus"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-layer-text">

                                    </div>
                            </td>
                        </tr>

                        <tr>
                            <th>세금 계산서<br />발행 여부</th>
                            <td>
                                <div class="form-layer label-layer mb_24">
                                    <label for="Y"><input id="Y" type="radio" name="account_type" value="2" />
                                        발행</label>
                                    <label for="N"><input id="N" type="radio" name="account_type" value="1" checked />
                                        미발행</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>사업자 등록 정보</th>
                            <td>
                                <div class="form-layer mb_08">
                                    <span class="form-title">상호명<br />(법인명)</span>
                                    <span class="form-body">
                                        <input class="form-control normal-size myCorporate" type="text" name="myCorporate"
                                            placeholder="사업자 등록증상 상호명" value="" />
                                    </span>
                                </div>
                                <div class="form-layer-text mb_24">
                                    <p class="description">* 게스트하우스 이름은 별도로 기입이 가능하오니 필히 사업자 상호, 등록번호를 입력해주시기 바랍니다.</p>
                                </div>
                                <div class="form-layer mb_24">
                                    <span class="form-title">등록증상<br />대표명</span>
                                    <span class="form-body">
                                        <input class="form-control normal-size myConame" type="text" name="myConame"
                                            placeholder="대표자 명을 입력하세요." />
                                    </span>
                                </div>

                                <div class="form-layer mb_24">
                                    <span class="form-title">업태</span>
                                    <label class="checkbox-inline icon-label myCondition"><input type="checkbox" name="myCondition" value="숙박">숙박</label>
                                    <label class="checkbox-inline icon-label myCondition"><input type="checkbox" name="myCondition" value="기타">기타</label>
                                    <label class="checkbox-inline icon-label myCondition"><input type="checkbox" name="myCondition" value="음식 및 숙박">음식 및 숙박</label>
                                    <label class="checkbox-inline icon-label myCondition"><input type="checkbox" name="myCondition" value="부동산">부동산</label>
                                    <label class="checkbox-inline icon-label myCondition"><input type="checkbox" name="myCondition" value="음식">음식</label>
                                    <label class="checkbox-inline icon-label myCondition"><input type="checkbox" name="myCondition" value="서비스">서비스</label>

                                </div>
                                        <!--업종-->
                                <div class="form-layer mb_24">
                                    <span class="form-title">업종</span>
                                    <label class="checkbox-inline icon-label"><input type="checkbox" name="myType" value="모텔" onclick="doOpenCheck(this);">모텔</label>
                                    <label class="checkbox-inline icon-label"><input type="checkbox" name="myType" value="호텔" onclick="doOpenCheck(this);">호텔</label>
                                    <label class="checkbox-inline icon-label"><input type="checkbox" name="myType" value="펜션" onclick="doOpenCheck(this);">펜션</label>
                                    <label class="checkbox-inline icon-label"><input type="checkbox" name="myType" value="리조트" onclick="doOpenCheck(this);">리조트</label>
                                            <!-- 게스트 하우스 와 캠핑은 6 5 번으로 되있음-->
                                    <label class="checkbox-inline icon-label"><input type="checkbox" name="myType" value="게스트하우스" onclick="doOpenCheck(this);">게스트하우스</label>
                                    <label class="checkbox-inline icon-label"><input type="checkbox" name="myType" value="캠핑" onclick="doOpenCheck(this);">캠핑</label>
                                    <label class="checkbox-inline icon-label"><input type="checkbox" name="myType" value="한옥" onclick="doOpenCheck(this);">한옥</label>
                                </div>
                                <div class="form-layer mb_24">
                                    <span class="form-title">사업자<br />등록번호</span>
                                    <span class="form-body">
                                        <input class="form-control normal-size myConum" type="text" name="myConum"
                                            placeholder="숫자만 입력하세요." />
                                    </span>
                                </div>
                                <div class="form-layer mb_24">
                                    <span class="form-title">업체 주소</span>
                                    <span class="form-body">
                                        <!-- 업체 주소 -->
                                        <input class="form-control normal-size" id="input_roadAddress" type="text"
                                            name="address1" readonly placeholder="사업자 등록증상 업체 주소를 입력하세요." value="" />
                                           <input type="hidden" name="input_roadAddress2" id="input_roadAddress2" class="myAddr1">

                                        <button type="button" class="btn btn-yeogi btn-normal-layer" id="postCode"
                                            onclick="daumPostCode()">주소 검색</button>

                                    </span>
                                </div>
                                <div class="form-layer newline">
                                    <span class="form-body">
                                        <input class="form-control normal-size myAddr2" type="text" name="address2"
                                            placeholder="나머지 주소를 입력하세요."id="dong_code"/>

                                    </span>
                                </div>
                                <div class="form-layer mb_24">
                                    <span class="form-title">세금계산서<br />이메일</span>
                                    <span class="form-body">
                                        <input class="form-control normal-size myEmail" type="text" name="settlement_email"
                                            placeholder="이메일을 입력하세요." value="" />
                                    </span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <!-- 신규 비밀번호 변경 -->
                <!-- <span class="change-pw">비밀번호 변경</span> -->

                <div class="pw-new hide">
                    <strong>비밀번호 설정 시, 꼭 알아주세요!</strong>
                    <!-- ISMS 비밀번호 -->
                    <ul>
                        <li>• 비밀번호는 영문, 숫자, 특수문자를 혼합해서 8자 이상 입력해 주세요.</li>
                        <li>• 동일한 숫자 또는 연속된 숫자 및 알파벳 4자리 이상 사용할 수 없습니다.<br>(예: abcd256912, az1234bde, az1111bacd,
                            aaaa2569ba)</li>
                        <li>• 아이디와 동일한 비밀번호는 사용할 수 없습니다.</li>
                        <li>• 현재 비밀번호와 동일한 비밀번호는 사용할 수 없습니다.</li>
                        <li>• 사용 가능한 특수문자: # & \ + - % @ = : ; , . ” ^`~ _ | ! ? * $</li>
                    </ul>
                    <!--// ISMS 비밀번호 -->
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="136px" />
                            <col width="778px" />
                        </colgroup>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <th rowspan="2">비밀번호 변경</th>
                                <td><span class="form-body"><input class="form-control normal-size" type="password"
                                            placeholder="새 비밀번호(영문,숫자,특수문자 혼합 8자 이상)" name="password"
                                            id="new_pw"></span></td>
                            </tr>
                            <tr>
                                <td><span class="form-body"><input class="form-control normal-size" type="password"
                                            placeholder="새 비밀번호 확인" name="re_password" id="new_pw_re"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //신규 비밀번호 변경 -->

                <div class="submit-layer">
                    <button class="btn btn-yeogi btn-submit" type="submit"  onclick="sendit()">저장 후 다음 단계</button>
                </div>
            </form>
        </div>
    </section>

    <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>

    <!-- 푸터 -->
    <div th:replace="hostthy/host-footer :: host-footer"></div>
    <!--푸터 끝 -->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../host/js/ie10-viewport-bug-workaround.js"></script>
<script src="../host/js/bootstrap.min.js"></script>
<script src="../host/js/moment.min.js"></script>
<script src="../host/js/daterangepicker.js"></script>
<script src="../host/js/bootstrap-timepicker.js"></script> -->
<script src="../host/js/common.host.js?nocache=1629280053.1844"></script>
<script src="../host/js/my.host.js?nocache=1629280053.1844"></script>






    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        axios.get('/api/tbmem/mlist/1', {

        }).then(function (response) {
            console.log(response);
            const memEmail = response.data.data.memEmail;

            $('.memEmail').text(memEmail);


            // $('#hname').attr(value, hname);
            $('input[name=memEmail]').attr('value',memEmail);

        }).catch(function (error) {

        });
    //오늘의 날짜
        function getToday(){
            var date = new Date();
            var year = date.getFullYear();
            var month = ("0" + (1 + date.getMonth())).slice(-2);
            var day = ("0" + date.getDate()).slice(-2);

            return year + "-" + month + "-" + day;
        }
    //체크박스 하나씩
        function doOpenCheck(chk){
            var obj = document.getElementsByName("myCondition");
            for(var i=0; i<obj.length; i++){
                if(obj[i] != chk){
                    obj[i].checked = false;
                }
            }
        }

        function sendit(){
            // //월~일
            // // const almWeek = $(".almWeek").val();
            // let weekLength = $("input[name='week']:checked").length
            // if(weekLength > 1){//체크가 하나라도 있을때
            //     var selweek = [];
            //     $("input[name='week']:checked").each(function(e){
            //         console.log($(this).val())
            //
            //         selweek.push($(this).val());
            //     })
            //
            // }
            // alert('멈');
            // //업태
            // // const myCondition = $(".myCondition").val();
            // let myCondition = $("input[name='myCondition']:checked").length
            // if(myCondition > 1){//체크가 하나라도 있을때
            //     var selCondi = [];
            //     $("input[name='myCondition']:checked").each(function(e){
            //         console.log($(this).val())
            //         selCondi.push($(this).val());
            //     })
            // }




            let today = getToday();
            console.log(today)
            //휴대폰 번호
            const myHp = $(".myHp").val();
            console.log('휴대폰 번호:' + myHp);
            // 알람 이름
            const almName = $(".almName").val();
            console.log('알람 이름:' + almName);
            // 알람연락처
            const almHp = $(".almHp").val();
            console.log('알람연락처간:' + almHp);
            //시작 시간
            const almStime = $("select[name=almStime]").val();
            console.log('시작 시간:' + almStime);
            //마침 시간
            const almCtime = $("select[name=almCtime]").val();
            console.log('마침시간 :' + almCtime);
            // 출처: https://oingbong.tistory.com/175 [Oing]
            //상호명 (법인명) 숙소이름
            const myCorporate = $(".myCorporate").val();
            console.log('상호명 :' + myCorporate);
            // 등록증상 대표명
            const myConame = $(".myConame").val();
            console.log('등록증상대표명 :' +myConame);

            //업종
            const myType = $("input[name='myType']:checked").val();
            console.log('업종 :' +myType);


            //사업자등록번호
            const myConum = $(".myConum").val();
            console.log("사업자등록번호 :" + myConum);
            //업체 주소
            const myAddr1 = $(".myAddr1").val();
            console.log('업체 주소 : '+ myAddr1)
            const myAddr2 = $(".myAddr2").val();
            console.log('업체 주소2 : '+ myAddr2)
            //세금 계산서 이메일
            const myEmail = $(".myEmail").val();
            console.log('세금 이메일 : '+ myEmail)
            // alert('멈춰');
            axios.request({
                method: 'POST',
                url: '/api/host/hregist',
                headers: {'Content-type':'application/json'},
                data: {
                    transaction_time:today,
                    resultCode:"OK",
                    description:"OK",
                    data:{
                        myHp: myHp,
                        almName: almName,
                        almHp: almHp,
                        //요일 checkbox
                        // almWeek: selweek2,
                        almStime: almStime,
                        almCtime: almCtime,
                        myCorporate: myCorporate,

                        myConame: myConame,
                        //업태 checkbox
                        // myCondition: ,
                        //업종 checkbox 1
                        myType: myType,
                        myConum: myConum,
                        myAddr1: myAddr1,
                        myAddr2: myAddr2,
                        myEmail: myEmail,
                        tbMemId: 1

                    }
                }
            }).then(
                //이거지금안됨
                alert('수정되었습니다'),
                location.href='/hosthousemain/'
            )
            return false;

        }


        // .myHp(tbHostApiRequest.getMyHp())
        //     .almName(tbHostApiRequest.getAlmName())
        //     .almHp(tbHostApiRequest.getAlmHp())
        //     .almWeek(tbHostApiRequest.getAlmWeek())
        //     .almStime(tbHostApiRequest.getAlmStime())
        //     .almCtime(tbHostApiRequest.getAlmCtime())
        //     .myCorporate(tbHostApiRequest.getMyCorporate())
        //     .myConame(tbHostApiRequest.getMyConame())
        //     .myCondition(tbHostApiRequest.getMyCondition())
        //     .myType(tbHostApiRequest.getMyType())
        //     .myConum(tbHostApiRequest.getMyConum())
        //     .myAddr1(tbHostApiRequest.getMyAddr1())
        //     .myAddr2(tbHostApiRequest.getMyAddr2())
        //     .myEmail(tbHostApiRequest.getMyEmail())
        //     // -----------------------------------------------------------------------
        //     .myIntcom(tbHostApiRequest.getMyIntcom())
        //     .myIntcomadd1(tbHostApiRequest.getMyIntcomadd1())
        //     .myIntcomadd2(tbHostApiRequest.getMyIntcomadd2())
        //     .myIntroimg(tbHostApiRequest.getMyIntroimg())   //이미지 대기
        //     .myService(tbHostApiRequest.getMyService())
        //     .myIntro(tbHostApiRequest.getMyIntro())
        //     .myComeway(tbHostApiRequest.getMyComeway())
        //     .mySidein1(tbHostApiRequest.getMySidein1())
        //     .mySidein2(tbHostApiRequest.getMySidein2())
        //     .mySidein3(tbHostApiRequest.getMySidein3())
        //     .myRmrule(tbHostApiRequest.getMyRmrule())
        //     .myOneline(tbHostApiRequest.getMyOneline())
        //     .myEventcon(tbHostApiRequest.getMyEventcon())
        //     .myPcash(tbHostApiRequest.getMyPcash())
        //     .myParking(tbHostApiRequest.getMyParking())
        //     .myKakunin(tbHostApiRequest.getMyKakunin())
        //     // -----------------------------------------------------------------------
        //     .myRetime(tbHostApiRequest.getMyRetime())
        //     .pkSsdate(tbHostApiRequest.getPkSsdate())
        //     .pkCcdate(tbHostApiRequest.getPkCcdate())
        //     .pkSdate(tbHostApiRequest.getPkSdate())
        //     .pkCdate(tbHostApiRequest.getPkCdate())





    </script>









</body>

</html>