<!DOCTYPE html>
<html lang="ko-KR" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comaptible" content="IE=Edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="description" content="객실 및 예약설정에서 광고상품 구매까지 모든 관리가 가능한 여기어때 호스트하우스 전용 통합 마케팅 플랫폼">
    <meta name="keywords" content="여기어때, 사장님사이트, 호스트하우스, 호스트홍보, 게스트하우스, 사장님전용사이트">
    <meta name="author" content="Gray"><!-- humans.txt 처리 권장 -->
    <meta name="apple-mobile-web-app-title" content="여기어때 호스트 하우스" />
    <meta name="viewport"
        content="width=device-width, initial-scale=0.3, minimum-scale=0.3, maximum-scale=1, user-scalable=yes">
    <title>여기어때 호스트 하우스</title>
    <link rel="canonical" href="https://guest.goodchoice.kr" />
    <link rel="shortcut icon" type="image/x-icon" href="/host/img/asset/favicon_170822.ico" />
    <link href="/host/css/bootstrap.min.css" rel="stylesheet">
    <link href="/host/css/common.host.css" rel="stylesheet">
    <link href="/host/css/tblist.css" rel="stylesheet" />
    <link href="/host/css/new.css" rel="stylesheet" />
    <script src="/host/js/jquery-2.1.3.min.js"></script>
    <script src="/host/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.lazyload.min.js"></script>

                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

<body id="main">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNLLB5W" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>


    <!-- 헤더 -->
    <div th:replace="hostthy/host-header :: host-header"></div>
    <!--헤더 끝 -->

    <!--  안연주 hidden 값 끝  host 아이디임-->
    <input type="hidden" name="hostid" id="hostid" th:value="${id}">
    <!--    host id-->

    <!-- 가운데 흰 영역 -->
    <section class="container">
        <div class="menu-step">
            <br class="todo-layer">
            <!--  예약 매출현황 -->
            <div class="h4">
                <h4>📅예약 현황</h4>
                <h4 class="h41">📊매출 현황</h4>
            </div>
            <section class="container5" style="z-index: 101;">
                <div class="menu-step1">
                    <br class="todo-layer4">
                    <p class="menup">오늘 발생한 예약건</p>
                    <h2 class="menup1">0건</h2>
                    <hr class="hr1">
                </div>

                <div class="menu-step2">
                    <br class="todo-layer4">
                    <p class="menup">오늘 취소건</p>
                    <h2 class="menup2">0건</h2>
                    <hr class="hr2">
                </div>

                <div class="menu-step3">
                    <br class="todo-layer4">
                    <p class="menup">오늘 매출</p>
                    <h2 class="menup3 menup3_today">₩0</h2>
                    <hr class="hr3">
                </div>

                <div class="menu-step4">
                    <br class="todo-layer4">
                    <p class="menup">총 매출</p>
                    <h2 class="menup3 menup3_all">₩0</h2>
                    <hr class="hr3">
                </div>
            </section>
            <!--  예약 매출현황 끝-->
            <!--  곡선 그래프 js  -->
            <section class="container6" style="z-index: 100;">

                <div class="menu-step5">
                    <div class="step5list">
                        <h4>📈주간 판매 현황</h4>
                    </div>
                    <br class="todo-layer5">

                    <div style="display: flex; position: relative; left: 100px;">
                        <div style="width: 300px; height: 300px;">
                            <canvas id="myChart2" width="100px" height="100px"></canvas>
                        </div>
                    </div>

                </div>

                <div class="menu-step6">
                    <div class="step5list">
                        <h4>📊매출 그래프</h4>
                    </div>
                    <br class="todo-layer6">

                    <div style="display: flex; position: relative; left: 100px;">
                        <div style="width: 300px; height: 300px;">
                            <canvas id="myChart" width="100px" height="100px"></canvas>
                        </div>
                    </div>
                </div>
            </section>
            <!--  그래프 js  -->
            <script src="/host/js/Chart.js"></script>

            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script>

                const hostid_ch = $('#hostid').val();
                console.log("hostid_chart : "+hostid_ch);

                axios.get(`/api/host/` + hostid_ch+`/paylist`, {

                }).then(function (response) {
                    console.log('chart_axios');
                    console.log(response)
                    //룸종류 카운트
                    //도미토리 (혼성)
                    let room_mw = 0;
                    let m_room_mw = 0;
                    let y_room_mw = 0;
                    //도미토리 (여자)
                    let room_w = 0;
                    let m_room_w = 0;
                    let y_room_w = 0;
                    //도미토리 (남자)
                    let room_m = 0;
                    let m_room_m = 0;
                    let y_room_m = 0;
                    //개인실
                    let room_s = 0;
                    let m_room_s = 0;
                    let y_room_s = 0;
                    //독채형 (콘도형)
                    let room_c = 0;
                    let m_room_c = 0;
                    let y_room_c = 0;
                    //룸 별 이번년도 총결제액-------------------
                    let y_room_mw_payMoney = 0;
                    let y_room_w_payMoney = 0;
                    let y_room_m_payMoney = 0;
                    let y_room_s_payMoney = 0;
                    let y_room_c_payMoney = 0;


                    //오늘
                    var dateToday = new Date().toISOString().substr(0, 10).replace('T', ' ');
                    //이번주 tomon---------------------------------------------------------------------
                    var paramDate = new Date(); // new Date('2021-06-08'): 화요일
                    var day = paramDate.getDay();
                    var diff = paramDate.getDate() - day + (day == 0 ? -6 : 1);
                    let tomon_start = new Date(paramDate.setDate(diff)).toISOString().substring(0, 10);
                    let tomon_start2 = new Date(tomon_start);
                    console.log("tomon_start : "+tomon_start);
                    console.log("paramDate 오늘 : "+paramDate);
                    var tomon_end = new Date(tomon_start2.setDate(tomon_start2.getDate() + 7)).toISOString().substr(0, 10).replace('T', ' ');
                    console.log("tomon_end : "+tomon_end);
                    //이번달-------------------------------------------------------------------------------
                    var dateMonth = new Date();
                    var firstMonthDay = new Date(dateMonth.getFullYear(), dateMonth.getMonth(), 1);
                    var lastMonthDay = new Date(dateMonth.getFullYear(), dateMonth.getMonth() + 1, 0);
                    firstMonthDay = new Date(firstMonthDay.setDate(firstMonthDay.getDate())).toISOString().substr(0, 10).replace('T', ' ');
                    lastMonthDay = new Date(lastMonthDay.setDate(lastMonthDay.getDate())).toISOString().substr(0, 10).replace('T', ' ');
                    console.log("이번달 1일 : "+ firstMonthDay);
                    console.log("이번달 말일 : "+ lastMonthDay);
                    //이번년도--------------------------------------------
                    let dateYear = new Date();
                    var year = dateYear.getFullYear();
                    var after_year = dateYear.getFullYear() + 1;
                    let yearM1_D1 = new Date(year, 0, 1);
                    let after_year_M1_D1 = new Date(after_year, 0, 1);


                    yearM1_D1 = new Date(yearM1_D1.setDate(yearM1_D1.getDate())).toISOString().substr(0, 10).replace('T', ' ');
                    after_year_M1_D1 = new Date(after_year_M1_D1.setDate(after_year_M1_D1.getDate())).toISOString().substr(0, 10).replace('T', ' ');
                    console.log("이번년도 : " + yearM1_D1);
                    console.log("내년 : " + after_year_M1_D1);


                    for(let i in response.data.data.tbHostForPayResponse.tbPayApiResponseList){



                        let $payRoomName = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payRoomName;

                        let $payDateCnt = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payDate;
                        let $payMoney = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payMoney;






                        //내날짜
                        var now = new Date($payDateCnt);
                        var mydate_plus = new Date(now.setDate(now.getDate())).toISOString().substr(0, 10).replace('T', ' ');
                    //      이번주
                        if(tomon_start<= mydate_plus && mydate_plus <= tomon_end && $payRoomName == "도미토리 (혼성)"){room_mw++;}
                        if(tomon_start<= mydate_plus && mydate_plus <= tomon_end && $payRoomName == "도미토리 (여자)"){room_w++;}
                        if(tomon_start<= mydate_plus && mydate_plus <= tomon_end && $payRoomName == "도미토리 (남자)"){room_m++;}
                        if(tomon_start<= mydate_plus && mydate_plus <= tomon_end && $payRoomName == "개인실"){room_s++;}
                        if(tomon_start<= mydate_plus && mydate_plus <= tomon_end && $payRoomName == "독채형 (콘도형)"){room_c++;}
                    //      이번달
                        if(firstMonthDay<= mydate_plus && mydate_plus <= lastMonthDay && $payRoomName == "도미토리 (혼성)"){m_room_mw++;}
                        if(firstMonthDay<= mydate_plus && mydate_plus <= lastMonthDay && $payRoomName == "도미토리 (여자)"){m_room_w++;}
                        if(firstMonthDay<= mydate_plus && mydate_plus <= lastMonthDay && $payRoomName == "도미토리 (남자)"){m_room_m++;}
                        if(firstMonthDay<= mydate_plus && mydate_plus <= lastMonthDay && $payRoomName == "개인실"){m_room_s++;}
                        if(firstMonthDay<= mydate_plus && mydate_plus <= lastMonthDay && $payRoomName == "독채형 (콘도형)"){m_room_c++;}
                    //      이번년도

                        if(yearM1_D1<= mydate_plus && mydate_plus <= after_year_M1_D1 && $payRoomName == "도미토리 (혼성)"){y_room_mw++;y_room_mw_payMoney +=  parseInt($payMoney);}
                        if(yearM1_D1<= mydate_plus && mydate_plus <= after_year_M1_D1 && $payRoomName == "도미토리 (여자)"){y_room_w++;y_room_w_payMoney +=  parseInt($payMoney);}
                        if(yearM1_D1<= mydate_plus && mydate_plus <= after_year_M1_D1 && $payRoomName == "도미토리 (남자)"){y_room_m++;y_room_m_payMoney +=  parseInt($payMoney);}
                        if(yearM1_D1<= mydate_plus && mydate_plus <= after_year_M1_D1 && $payRoomName == "개인실"){y_room_s++;y_room_s_payMoney +=  parseInt($payMoney);}
                        if(yearM1_D1<= mydate_plus && mydate_plus <= after_year_M1_D1 && $payRoomName == "독채형 (콘도형)"){y_room_c++;y_room_c_payMoney +=  parseInt($payMoney);}
                    }
                    console.log("room_mw : "+room_mw)
                    console.log("room_w : "+room_w)
                    console.log("room_m : "+room_m)
                    console.log("room_s : "+room_s)
                    console.log("room_c : "+room_c)
                    //Month
                    console.log("m_room_mw : "+m_room_mw)
                    console.log("m_room_w : "+m_room_w)
                    console.log("m_room_m : "+m_room_m)
                    console.log("m_room_s : "+m_room_s)
                    console.log("m_room_c : "+m_room_c)
                    //Year
                    console.log("y_room_mw : "+y_room_mw)
                    console.log("y_room_w : "+y_room_w)
                    console.log("y_room_m : "+y_room_m)
                    console.log("y_room_s : "+y_room_s)
                    console.log("y_room_c : "+y_room_c)
                    //Year Pay
                    console.log("y_room_mw_payMoney : "+y_room_mw_payMoney)
                    console.log("y_room_w_payMoney : "+y_room_w_payMoney)
                    console.log("y_room_m_payMoney : "+y_room_m_payMoney)
                    console.log("y_room_s_payMoney : "+y_room_s_payMoney)
                    console.log("y_room_c_payMoney : "+y_room_c_payMoney)

                //-----------




                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["D혼성", "D여성", "D남성", "개인실", "독채형"],
                        datasets: [{
                            label: '총 매출(만원단위)',
                            data: [Math.round(y_room_mw_payMoney)/10000,
                                Math.round(y_room_w_payMoney)/10000,
                                Math.round(y_room_m_payMoney)/10000,
                                Math.round(y_room_s_payMoney)/10000,
                                Math.round(y_room_c_payMoney)/10000],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
                var ctx2 = document.getElementById("myChart2")
                var myChart2 = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: ["D혼성", "D여성", "D남성", "개인실", "독채형"],
                        datasets: [{
                                label: '주간',
                                data: [room_mw, room_w, room_m, room_s, room_c],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)'
                                ],
                                borderWidth: 1
                            },
                            {
                                label: '월간',
                                data: [m_room_mw, m_room_w, m_room_m, m_room_s, m_room_c],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)'
                                ],
                                borderWidth: 1
                            },
                            {
                                label: '연간',
                                data: [y_room_mw, y_room_w, y_room_m, y_room_s, y_room_c],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)'
                                ],
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })




                }).catch(function (err){
                    console.log(err);
                });
            </script>
            <!-- 막대 그래프 -->

            <section class="container7" style="z-index: 100;">
                <div class="menu-step7">
                    <br class="todo-layer7">
                    <div class="listlist">
                        <h4>📅실시간 예약 리스트</h4>
                    </div>

                    <table class="tblist" style="text-align: center;" id="#foo-table">
                        <thead class="thead">
                        <tr>
                            <th style="text-align: center;">예약번호</th>
                            <th style="text-align: center;">객실예약정보</th>
                            <th style="text-align: center;">예약자명</th>
                            <th style="text-align: center;">연락처</th>
                            <th style="text-align: center;">체크인-체크아웃</th>
                            <th style="text-align: center;">입실일</th>
                            <th style="text-align: center;">이용요금</th>
                        </tr>
                        </thead>

<!--                        <tr style="height: 35px; background-color: rgb(245, 245, 245);">-->
<!--                            <td>1</td>-->
<!--                            <td>202호</td>-->
<!--                            <td>김사과</td>-->
<!--                            <td>010-1111-1111</td>-->
<!--                            <td>2021-08-03 - 2021-08-04</td>-->
<!--                            <td>2021-08-03 15:00</td>-->
<!--                            <td>25,000원</td>-->
<!--                        </tr>-->
                    </table>
                </div>
            </section>
        </div>
    </section>
    <!-- 가운데 흰 영역 끝-->


    <!-- Validation Script -->
    <script src="/host/js/jquery.validate.js"></script> <!-- 0 -->
    <!-- <script src="../host/js/additional-methods.min.js"></script> -->
    <!-- <script src="../host/js/validate.js"></script> -->


    <!-- 푸터 -->
    <div th:replace="hostthy/host-footer :: host-footer"></div>
    <!--푸터 끝 -->



<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../host/js/ie10-viewport-bug-workaround.js"></script>
<script src="../host/js/bootstrap.min.js"></script>
<script src="../host/js/moment.min.js"></script>
<script src="../host/js/daterangepicker.js"></script>
<script src="../host/js/bootstrap-timepicker.js"></script> -->
<script src="/host/js/common.host.js?nocache=1629272224.4328"></script>


    <script>

<!--이번주 구하는법-->





        // $(function() {
            const hostid = $('#hostid').val();
            console.log("hostid : "+hostid);


            axios.get(`/api/host/` + hostid+`/paylist`, {

            }).then(function (response) {
                console.log(response);
                console.log("ㅇㅇㄹㅈㄹ");
                //오늘
                var dateToday = new Date().toISOString().substr(0, 10).replace('T', ' ');
                console.log("dateToday : "+dateToday);
                let todaypay = 0;
                let todaypaycan = 0;
                let todaypayMoney = 0;
                let allMoney = 0;
                //룸종류 카운트
                //도미토리 (혼성)
                // let room_mw = 0;
                //도미토리 (여자)
                // let room_w = 0;
                //도미토리 (남자)
                // let room_m = 0;
                //개인실
                // let room_s = 0;
                //독채형 (콘도형)
                // let room_c = 0;


                //전체 pay 갯수
                let paylength = Object.keys(response.data.data.tbHostForPayResponse.tbPayApiResponseList).length;

                for(let i in response.data.data.tbHostForPayResponse.tbPayApiResponseList){

                    // let $payRoomName = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payRoomName;
                    //
                    // if($payRoomName == "도미토리 (혼성)"){room_mw++;}
                    // if($payRoomName == "도미토리 (여자)"){room_w++;}
                    // if($payRoomName == "도미토리 (남자)"){room_m++;}
                    // if($payRoomName == "개인실"){room_s++;}
                    // if($payRoomName == "독채형 (콘도형)"){room_c++;}



                    let $payDateCnt = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payDate;
                    let $payCancel = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payCancel;
                    let $payMoneyCnt = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payMoney; //이용요금
                    allMoney += parseInt($payMoneyCnt);
                    //내날짜
                    var now = new Date($payDateCnt);
                    var mydate_plus = new Date(now.setDate(now.getDate())).toISOString().substr(0, 10).replace('T', ' ');
                    console.log("mydate_plus : "+ mydate_plus);
                    //결제일이 오늘인거있을때마다 +1씩 카운트
                    if(dateToday <= mydate_plus){
                        todaypayMoney += parseInt($payMoneyCnt);
                        if($payCancel == 'y'){
                            todaypayMoney -= parseInt($payMoneyCnt);
                            todaypaycan++;
                            console.log(todaypaycan);
                        }
                        todaypay++;
                        console.log(todaypay);

                        $('.menup1').text(todaypay+"건");
                        $('.menup2').text(todaypaycan+"건");
                        $('.menup3_today').text("₩"+todaypayMoney);
                    }
                    $('.menup3_all').text("₩"+allMoney);
                    console.log("todaypay : "+todaypay)
                    console.log("todaypaycan : "+todaypaycan)
                    console.log("todaypayMoney : "+todaypayMoney)
                    console.log("allMoney : "+allMoney)
                    // console.log("room_mw : "+room_mw)
                    // console.log("room_w : "+room_w)
                    // console.log("room_m : "+room_m)
                    // console.log("room_s : "+room_s)
                    // console.log("room_c : "+room_c)

                }



                let tb = $('<tbody>');//for문 밖
                for (let i = 0; i <= 0; i++) {
                    const $payid = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].id; // pay아이디 예약번호
                    const $payRoomName = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payRoomName; // 객실예약정보
                    const $payName = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payName; // 투숙객정보
                    const $payHp = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payHp; //연락처
                    let $payCheckIn = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payCheckIn; // 투숙일자 1
                    let $payCheckOut = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payCheckOut; //투숙일자 2
                    let $payDate = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payDate; // 입실시간 => 결제날짜
                    const $payMoney = response.data.data.tbHostForPayResponse.tbPayApiResponseList[i].payMoney; //이용요금
                    // const payid = response.data[i].id; //결제

                    $payCheckIn = $payCheckIn.substr(0, 10);
                    $payCheckOut = $payCheckOut.substr(0, 10);
                    $payDate = $payDate.substr(0, 10);

                    let row = $(`<tr style="height: 35px; background-color: rgb(245, 245, 245);">`).append(
                        `<td>` + $payid + `</td>` +
                        `<td>` + $payRoomName + `</td>` +
                        `<td>` + $payName + `</td>` +
                        `<td>`+ $payHp.slice(0,3)+`-`+ $payHp.slice(3,7) +`-`+ $payHp.slice(7,11) + `</td>` +
                        `<td>` + $payCheckIn + `시 - ` + $payCheckOut + `시</td>` +
                        `<td>` + $payDate + `</td>` +
                        `<td>` + $payMoney + `원</td>` +
                        `</tr>`
                    )
                    tb.append(row);
                }
                tb.append('</tbody>');
                $('.thead').after(tb);


            }).catch(function (err) {
                console.log('호출 중 에러');
                console.log(err);
            });
        // });
    </script>

</body>

</html>