<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<header th:fragment="user-header">
    <link rel="stylesheet" href="/css/main.css" />
    <section>
        <h1><a class="" href="/userindex/" title="여기어때">여기어때</a></h1>
        <button type="button" class="btn_menu nav_open ">메뉴</button>
<!--        <button type="button" class="btn_srch srch_open ">검색</button>-->
        <ul class="gnb_pc">
            <li><a href="/userindex/8">내주변</a></li>
            <li><a href="/userindex/reservations">예약내역</a></li>
            <li class="over">
                <button type="button"><span>더보기</span></button>
                <ul class="list_03">
                    <!--                            <li><a href="/userindex/notice">공지사항</a></li>-->
                    <li><a href="/userindex/event">이벤트</a></li>
                    <li><a href="/userindex/project">혁신 프로젝트</a></li>
                    <li><a href="/userindex/faq">자주 묻는 질문</a></li>
                    <li><a href="/userindex/inquiry">1:1 문의</a></li>
                    <li><a href="/userindex/terms">약관 및 정책</a></li>
                </ul>
            </li>

            <li class="over pic"><a href="/userindex/mypage">
                <img src="/img/profile/ico/ico_21.png" alt="" /></a>
                <ul class="list_04" style="display:none">
                    <li><b>사과색깔</b></li>
                    <li><a href="/userindex/mypage">내정보</a></li>
                    <li><a href="/userindex/point" data-point="0">포인트
                    </a></li>
                    <li><a href="/userindex/reservations">예약내역
                    </a></li>
                    <li><a href="/userindex/zzim">찜목록
                    </a></li>
                    <li><button type="button" class="pop_logout_open">로그아웃</button></li>
                </ul>
            </li>
        </ul>

        <!-- Search -->
        <div class="srch_bar">
            <div class="wrap_inp">
                <input type="text" id="keyword" placeholder="지역, 숙소명" autocomplete="off" />
                <button type="button" class="btn_srch">검색</button>
            </div>
            <button class="btn_cancel" onclick="srch_close()">취소</button>
        </div>
        <!-- //Search -->

    </section>
</header>

</html>