<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<header th:fragment="user-headerlogin">
    <link rel="stylesheet" href="/css/main.css" />

    <section>
        <h1><a class="" href="/userindex/" title="여기어때">여기어때</a></h1>
        <button type="button" class="btn_menu nav_open ">메뉴</button>
        <!--        <button type="button" class="btn_srch srch_open ">검색</button>-->
        <ul class="gnb_pc">
<!--            <li><a href="/userindex/8">내주변</a></li>-->
            <li><a href="/userindex/reservations">예약내역</a></li>
            <li class="over">
                <button type="button"><span>더보기</span></button>
                <ul class="list_03">
                    <!--                            <li><a href="/userindex/notice">공지사항</a></li>-->
                    <li><a href="/userindex/event">이벤트</a></li>
                    <li><a href="/userindex/project">혁신 프로젝트</a></li>
                    <li><a href="/userindex/faq">자주 묻는 질문</a></li>
                    <li><a href="/userindex/inquiry">1:1 문의</a></li>
                    <li><a href="/userindex/terms">약관 및 정책</a></li>

                </ul>
            <li><a th:href="@{/userindex/login}" th:if="${session.userid eq null}" style="text-align: right;">로그인</a>
            <th:block th:unless="${session.userid eq null}" >
                <a th:href="@{/dologout}" style="text-align: right">로그아웃</a></th:block>
            </li>
            <!--    안연주 세션용 userid(tbMemId)-->
            <input type="hidden" id="userid" class="userid">

            <!--            <li><a href="/userindex/login">로그인</a></li>-->

        </ul>


        <!-- Search -->
        <div class="srch_bar">
            <div class="wrap_inp">
                <input type="text" id="keyword" placeholder="지역, 숙소명" autocomplete="off" />
                <button type="button" class="btn_srch">검색</button>
            </div>
            <button class="btn_cancel" onclick="srch_close()">취소</button>
        </div>
        <!-- //Search -->

    </section>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--    정상훈 세션값-->
    <script>const sessionId = sessionStorage.getItem('userid');
    console.log("세션아이디"+sessionId);
    </script>

    <!--    정상훈 세션값끝-->
</header>

</html>