<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>여기어때 관리자 페이지</title>

	<!--shortcut icon  -->
	<link rel="shortcut icon" type="image/x-icon" href="/admin/img/favicon_170822.ico">
	<!--shortcut icon 끝  -->
	<link rel="stylesheet" href="/admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="/admin/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/admin/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/admin/css/feathericon.min.css">
	<link rel="stylesheet" href="/admin/plugins/morris/morris.css">
	<link rel="stylesheet" type="text/css" href="/admin/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="/admin/css/style.css">

</head>

<body>
<div class="main-wrapper">


	<!-- 헤더  -->
	<div th:replace="adminthy/admin-header :: admin-header"></div>
	<!-- 헤더 끝 -->

	<!-- 사이드바  -->
	<div th:replace="adminthy/admin-sidebar :: admin-sidebar"></div>
	<!-- 사이드바 끝  -->


	<!--	a태그 클릭시 넘어와야 하는 값-->
	<!--안연주 ID값 넘어옴-->
	<input type="hidden" id="id" th:value="${id}">
	<div class="page-wrapper">
		<div class="content container-fluid">
			<div class="page-header mt-5">
				<div class="row">
					<div class="col">
						<h3 class="page-title">고객 정보</h3>

						<ul class="breadcrumb">

						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="profile-header">
						<div class="row align-items-center">
							<div class="col-auto profile-image">
								<a href="#"> <img class="rounded-circle" alt="User Image" src="/admin/img/smalllogo.png"> </a>
							</div>
							<div class="col ml-md-n2 profile-user-info">

								<h4 class="user-name mb-3 memNkname" ></h4>
							</div>

							<!--								<div class="col-auto prsofile-btn" onclick="del()"> <a href="#" class="btn btn-primary">-->
							<!--									삭제하기</a>-->
							<!--								</div>-->
						</div>
					</div>
					<div class="profile-menu">
						<ul class="nav nav-tabs nav-tabs-solid">

						</ul>
					</div>
					<div class="tab-content profile-tab-cont">
						<div class="tab-pane fade show active" id="per_details_tab">
							<div class="row">


								<!-- 신상정보 -->
								<div class="col-lg-6">
									<div class="card">
										<div class="card-body card-body2">
											<h5 class="card-title d-flex justify-content-between">
												<span>신상정보</span>

											</h5>


											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-nowrap mb-0">
														<thead>

														<th></th>
														<th></th>


														</thead>
														<tbody>	</tbody>
														<tr>
															<th>닉네임</th>
															<td class="memNkname"></td>
														</tr>


														<tr>
															<th>이메일</th>
															<td class="memEmail"></td>
														</tr>

														<tr>
															<th>전화번호</th>
															<td class="memHp"></td>
														</tr>

														<tr>
															<th>가입일</th>
															<td class="memRegdate"></td>
														</tr>


													</table>
												</div>
											</div>
										</div>
									</div>

									<!-- 신상정보 끝-->


									<div class="modal fade" id="edit_personal_details" aria-hidden="true" role="dialog">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Personal Details</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
												</div>
												<div class="modal-body">
													<form>
														<div class="row form-row">
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>First Name</label>
																	<input type="text" class="form-control" value="John"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>Last Name</label>
																	<input type="text" class="form-control" value="Doe"> </div>
															</div>
															<div class="col-12">
																<div class="form-group">
																	<label>Date of Birth</label>
																	<div class="cal-icon">
																		<input type="text" class="form-control" value="24-07-1983"> </div>
																</div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>Email ID</label>
																	<input type="email" class="form-control" value="johndoe@example.com"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>Mobile</label>
																	<input type="text" value="+1 202-555-0125" class="form-control"> </div>
															</div>
															<div class="col-12">
																<h5 class="form-title"><span>Address</span></h5> </div>
															<div class="col-12">
																<div class="form-group">
																	<label>Address</label>
																	<input type="text" class="form-control" value="4663 Agriculture Lane"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>City</label>
																	<input type="text" class="form-control" value="Miami"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>State</label>
																	<input type="text" class="form-control" value="Florida"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>Zip Code</label>
																	<input type="text" class="form-control" value="22434"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>Country</label>
																	<input type="text" class="form-control" value="United States"> </div>
															</div>
														</div>
														<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="card">
										<div class="card-body card-body2">
											<h5 class="card-title d-flex justify-content-between">
												<span>이용내역</span>

											</h5>


											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-nowrap mb-0">
														<thead>

														<th></th>
														<th></th>


														</thead>
														<tbody>	</tbody>
														<tr>
															<th>이용횟수</th>
															<td class="payNum"></td>
														</tr>

														<tr>
															<th>등급</th>
															<td>일반회원</td>
														</tr>

														<tr>
															<th>총 이용금액</th>
															<td class="allMoney"></td>
														</tr>



													</table>
												</div>
											</div>
										</div>
									</div>

									<!-- 신상정보 끝-->


									<div class="modal fade" id="edit_personal_details" aria-hidden="true" role="dialog">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Personal Details</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
												</div>
												<div class="modal-body">
													<form>
														<div class="row form-row">
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>First Name</label>
																	<input type="text" class="form-control" value="John"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>Last Name</label>
																	<input type="text" class="form-control" value="Doe"> </div>
															</div>
															<div class="col-12">
																<div class="form-group">
																	<label>Date of Birth</label>
																	<div class="cal-icon">
																		<input type="text" class="form-control" value="24-07-1983"> </div>
																</div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>Email ID</label>
																	<input type="email" class="form-control" value="johndoe@example.com"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>Mobile</label>
																	<input type="text" value="+1 202-555-0125" class="form-control"> </div>
															</div>
															<div class="col-12">
																<h5 class="form-title"><span>Address</span></h5> </div>
															<div class="col-12">
																<div class="form-group">
																	<label>Address</label>
																	<input type="text" class="form-control" value="4663 Agriculture Lane"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>City</label>
																	<input type="text" class="form-control" value="Miami"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>State</label>
																	<input type="text" class="form-control" value="Florida"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>Zip Code</label>
																	<input type="text" class="form-control" value="22434"> </div>
															</div>
															<div class="col-12 col-sm-6">
																<div class="form-group">
																	<label>Country</label>
																	<input type="text" class="form-control" value="United States"> </div>
															</div>
														</div>
														<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>



								<!-- 포인트 현황 -->
								<!-- <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-body card-body2">
                                            <h5 class="card-title d-flex justify-content-between">
                                                <span>&nbsp;&nbsp;&nbsp;포인트현황</span>
                                                </h5>

                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                    <table class="table table-nowrap mb-0">
                                                    <thead>

                                                    <th></th>
                                                    <th></th>

                                                    </thead>
                                                    <tbody></tbody>
                                                    <tr>
                                                    <th>사용 가능 포인트</th>
                                                    <td>김사과</td>
                                                    </tr>

                                                    <tr>
                                                    <th>쿠폰현황</th>
                                                    <td>2001.01.01</td>
                                                    </tr>

                                                    <tr>
                                                    <th>사용 한 쿠폰</th>
                                                    <td>apple@apple.com</td>
                                                    </tr>


                                                    </table>
                                                    </div>
                                                    </div>

                                        </div>
                                    </div>
                                </div> -->

								<!-- 포인트 현황 끝 -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/admin/js/jquery-3.5.1.min.js"></script>
<script src="/admin/js/popper.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/moment.min.js"></script>
<script src="/admin/js/select2.min.js"></script>
<script src="/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/js/bootstrap-datetimepicker.min.js"></script>
<script src="/admin/js/script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	$(function(){




		const id = $('#id').val();
		console.log('야놀자');
		console.log(id);

		axios.get('/api/tbmem/paylistu/'+ id, {

		}).then(function(response){
			console.log(response);
			console.log('-----');
			console.log(response.data);
			console.log(response.data.data.tbMemApiResponse.memHp);
			console.log(response.data.data.tbMemApiResponse.memNkname);
			const memHp = response.data.data.tbMemApiResponse.memHp;
			const memEmail = response.data.data.tbMemApiResponse.memEmail;
			const memPw = response.data.data.tbMemApiResponse.memPw;
			const memNkname = response.data.data.tbMemApiResponse.memNkname;
			const memNkname2 = response.data.data.tbMemApiResponse.memNkname;
			let memRegdate = response.data.data.tbMemApiResponse.memRegdate;
			const payNum = response.data.data.tbMemApiResponse.tbPayApiResponseList.length;

			let allMoney = 0;
			for(let i in response.data.data.tbMemApiResponse.tbPayApiResponseList){
				let $payMoneyCnt = response.data.data.tbMemApiResponse.tbPayApiResponseList[i].payMoney;
				allMoney += parseInt($payMoneyCnt);
				$('.allMoney').text(`총 ` + allMoney + `원`);

			}
			memRegdate = memRegdate.substr(0,10);

			$('.memHp').text(memHp);
			$('.memEmail').text(memEmail);
			$('.memPw').text(memPw);
			$('.memNkname').text(memNkname);
			// $('#memNkname').text(memNkname);
			// $('#memNkname2').text(memNkname2);
			$('.memRegdate').text(memRegdate);
			$('.payNum').text(payNum + `회`);


			console.log('여기까지오니');


		});
	});

	function qdel(){
		let id = $("#id").val();
		axios.delete("/api/ques/qlist/" + id,{
		}).then(function (response){
		}).catch(function (err){
			console.log('qdel삭제중 에러')
			console.log(err);
		})
	}


	function qdel(){
		let id = $("#id").val();
		axios.delete("/api/ques/qlist/" + id,{
		}).then(function (response){
		}).catch(function (err){
			console.log('qdel삭제중 에러')
			console.log(err);
		})
	}

	function rdel(){
		let questionid = $("#questionidid").val();
		axios.delete("/api/review/list/" + questionid,{
		}).then(function (response){
		}).catch(function (err){
			console.log('rdel삭제중 에러')
			console.log(err);
		})
	}


	async function del() {

		let id = $("#id").val();
		if(confirm("삭제하시겠습니까?")) {
			const [qdel2, rdel2] = await Promise.all([qdel(), rdel()]);
			console.log('OK');
			alert('삭제하겠습니다.');
			println('삭제');
		}
		return false;
		// axios.all([qdel(), rdel()])
		// .then(
		// 		axios.spread(function (qdel2, rdel2) {
		// 		const qdel = qdel.data.data;
		// 		})
		// ).catch((err) => console.log(err));

	}
	// if(confirm("삭제하시겠습니까?")){
	// 	let id = $("#id").val();
	// 	  //1대1문의 삭제
	// 	axios.delete('/api/ques/qlist/'+ id,{
	// 	}).then(function(response){
	// 			}).catch(function(response){
	// 		console.log('삭제 에러발생!')
	// 	})
	// }
	// return false;

	//페이지

	// alert("삭제하였습니다 DB를확인해주세요");
	// location.href = '/all-staff.html'
</script>

</body>

</html>