<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>여기어때 관리자 페이지</title>

    <!--shortcut icon  -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/img/favicon_170822.ico">
    <!--shortcut icon 끝  -->

    <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/admin/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/admin/css/feathericon.min.css">
    <link rel="stylehseet" href="https://cdn.oesmith.co.uk/morris-0.5.1.css">
    <link rel="stylesheet" href="/admin/plugins/morris/morris.css">
    <link rel="stylesheet" href="/admin/css/style.css">
</head>




<body>
    <div class="main-wrapper">

        <!-- 헤더  -->
        <div th:replace="adminthy/admin-header :: admin-header"></div>
        <!-- 헤더 끝 -->


        <!-- 사이드바  -->
        <div th:replace="adminthy/admin-sidebar :: admin-sidebar"></div>
        <!-- 사이드바 끝  -->


        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12 mt-5">
                            <h3 class="page-title mt-3"></h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card board1 fill">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <div>
                                        <h3 class="card_widget_header memcount"></h3>
                                        <h6 class="text-muted">총 회원 수</h6>
                                    </div>
                                    <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#4D4D4D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus">
                                                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="8.5" cy="7" r="4"></circle>
                                                <line x1="20" y1="8" x2="20" y2="14"></line>
                                                <line x1="23" y1="11" x2="17" y2="11"></line>
                                            </svg></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card board1 fill">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <div>
                                        <h3 class="card_widget_header hostcount"></h3>
                                        <h6 class="text-muted">등록된 호스트</h6>
                                    </div>
                                    <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#4D4D4D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <line x1="2" y1="12" x2="22" y2="12"></line>
                                                <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                                </path>
                                            </svg></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card board1 fill">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <div>
                                        <h3 class="card_widget_header hostcount2"></h3>
                                        <h6 class="text-muted">미승인 호스트</h6>
                                    </div>
                                    <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#4D4D4D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus">
                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z">
                                                </path>
                                                <polyline points="14 2 14 8 20 8"></polyline>
                                                <line x1="12" y1="18" x2="12" y2="12"></line>
                                                <line x1="9" y1="15" x2="15" y2="15"></line>
                                            </svg></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card board1 fill">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <div>
                                        <h3 class="card_widget_header question"></h3>
                                        <h6 class="text-muted">1:1고객 문의</h6>
                                    </div>
                                    <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#4D4D4D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                            </svg></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h4 class="card-title">가입자 통계</h4>
                            </div>
                            <div class="card-body">
                                <div id="line-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h4 class="card-title">등록 호스트 유형</h4>
                            </div>
                            <div class="card-body">
                                <div id="donut-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex">
                        <div class="card card-table flex-fill">
                            <div class="card-header">
                                <h4 class="card-title float-left mt-2">미승인 호스트</h4>
<!--                                <button type="button" class="btn btn-primary float-right veiwbutton">전체보기</button>-->
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center">
                                        <thead class="thead">
                                            <tr>
                                                <th>호스트 이름</th>
                                                <th>숙소명</th>
                                                <th>이메일</th>
                                                <th>휴대폰번호</th>
                                                <th>업종</th>
                                                <th>업체주소</th>
                                                <th>승인상태</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/admin/js/popper.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/admin/plugins/raphael/raphael.min.js"></script>
    <script src="/admin/plugins/morris/morris.min.js"></script>
    <script src="/admin/js/chart.morris.js"></script>
    <script src="/admin/js/script.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //총 멤버수
        $(function(){
            axios.get('/api/tbmem/mlist', {

            }).then(function(response){
                console.log(response);
                console.log(Object.keys(response.data).length)
                let memtotcount = Object.keys(response.data).length
                $('.memcount').text(memtotcount);

            }).catch(function(err){
                console.log('all-staff axios list 호출중 에러');
                console.log(err);
            });


        });
        // //호스트 수 (승인받은) db바뀌어서 수정해야할듯
        $(function(){
            axios.get('/api/host/hlist', {

            }).then(function(response){
                console.log(response);
                console.log(Object.keys(response.data).length)
                let hosttotcount = Object.keys(response.data).length
                $('.hostcount').text(hosttotcount);

            }).catch(function(err){
                console.log('all-staff axios list 호출중 에러');
                console.log(err);
            });


        });

        // 신청된(승인안된) 호스트 수
        $(function(){
            axios.get('/api/host/rhlist', {

            }).then(function(response){
                console.log(response);
                console.log(Object.keys(response.data).length)
                let host2totcount = Object.keys(response.data).length
                $('.hostcount2').text(host2totcount);

            }).catch(function(err){
                console.log('all-staff axios list 호출중 에러');
                console.log(err);
            });


        });

        // 1:1 문의 리스트
            $(function(){
                axios.get('/api/ques/qlist', {

                }).then(function(response){
                    console.log(response);
                    console.log(Object.keys(response.data).length)

                    let questions = Object.keys(response.data).length
                    $('.question').text(questions);


                }).catch(function(err){
                    console.log('all-staff axios list 호출중 에러');
                    console.log(err);
                });


            });

            // 미승인 호스트
        $(function(){
            axios.get('/api/host/rhlist', {

            }).then(function(response){
                let tb = $('<tbody>');

                for(let i in response.data){
                    let $almName = response.data[i].almName; //호스트 이름
                    let $myCorporate = response.data[i].myCorporate; //소개업체명
                    let $myEmail = response.data[i].myEmail; // 이메일
                    let $almHp = response.data[i].almHp; //전화번호
                    let $myType = response.data[i].myType; // 업종
                    let $myIntcomadd1 = response.data[i].myIntcomadd1; //업체주소
                    let $pkAdmit = response.data[i].pkAdmit; // 상태

                    let row = $('<tr>').append(
                        '<td>' + $almName + '</td>' +
                        '<td>'+ $myCorporate +'</td>' +
                        '<td>'+ $myEmail +'</td>' +
                        '<td>'+ $almHp +'</td>'+
                        '<td>'+ $myType+'</td>'+
                        '<td>'+ $myIntcomadd1+'</td>'+
                        //대기 승인 버튼
                        '<td><div id="ahn" class="actions ahn' + $pkAdmit + '"> <a href="#" id="ahn2" class="btn btn-sm bg-success-light mr-2">대기</a></div></td>'+
                        '</tr>'

                    )
                    tb.append(row);

                }
                tb.append('</tbody>'); //<tbody>에 row값 더한후 다시 </tbody>로 감싼상태
                $('.thead').after(tb); // 그 tb를 thead 뒤에 놓는다는 뜻




            }).catch(function(err){
                console.log('all-staff axios list 호출중 에러');
                console.log(err);
            }).finally(function (){

                if($("#ahn").hasClass("ahnn")){
                    $("#ahn").addClass('active');

                    console.log('dddddd');
                }

            });


        });
    </script>
</body>

</html>
