<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>여기어때 관리자 페이지</title>

	<!--shortcut icon  -->
	<link rel="shortcut icon" type="image/x-icon" href="/admin/img/favicon_170822.ico">
	<!--shortcut icon 끝  -->
	<link rel="stylesheet" href="/admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="/admin/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/admin/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/admin/css/feathericon.min.css">
	<link rel="stylesheet" href="/admin/plugins/datatables/datatables.min.css">
	<link rel="stylesheet" href="/admin/plugins/morris/morris.css">
	<link rel="stylesheet" href="/admin/css/style.css">

</head>
<body>

<div class="main-wrapper">


	<!-- 헤더  -->
	<div th:replace="adminthy/admin-header :: admin-header"></div>
	<!-- 헤더 끝 -->

	<!-- 사이드바  -->
	<div th:replace="adminthy/admin-sidebar :: admin-sidebar"></div>
	<!-- 사이드바 끝  -->


	<div class="page-wrapper">
<div class="content container-fluid">
<div class="page-header">
<div class="row align-items-center">
<div class="col">
<div class="mt-5">
<h4 class="card-title float-left mt-2">결제시스템관리</h4>
</div>
</div>
</div>
</div>

<!-- 바디상단 -->
<div class="row">
	<div class="col-sm-12">
	<div class="card">
	<div class="card-body">
	<div class="table-responsive">
	<table class="table table-stripped">
	<thead>
	<tr>
	<th>카드결제</th>
	<th>간편결제</th>
	<th>가상화폐</th>
	<th>총 사용서비스</th>
	</tr>
	</thead>
	<tbody>
		<tr>
		<td>사용중</td>
		<td>사용중</td>
		<td>사용중지</td>
		<td>4개</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<!-- 바디 상단 끝-->
<!-- 바디 중단-->

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<div class="table-responsive">
<table class="table table-stripped">
<thead>
<tr>
	<th>No</th>
	<th>결제서비스</th>
	<th>결제서비스 제공자</th>
	<th>신청일시</th>
	<th>이용상태</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>카드결제</td>
<td>올엣</td>
<td>2021.08.29 02:20</td>
<td>이용중</td>
</tr>
<tr>
	<td>2</td>
	<td>간편결제</td>
	<td>카카오페이</td>
	<td>2021.08.29 02:20</td>
	<td>이용중</td>
</tr>
<tr>
	<td>3</td>
	<td>가상화폐</td>
	<td>뻐꾹스코인</td>
	<td>2021.08.29 02:20</td>
	<td>이용중지 (사유:스캠코인)</td>
</tr>
<tr>
	<td>4</td>
	<td>가상화폐</td>
	<td>몰리페이코인</td>
	<td>2021.08.29 02:20</td>
	<td>이용중</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>



<!-- 바디 중단 끝-->

<!-- 바디 하단-->




<div class="row">
	<div class="col-sm-12">
	<div class="card">
	<div class="card-body">
	<div class="table-responsive">
	<table class="table table-stripped">
	<thead>
	<tr>
	<th>뻐꾹스코인</th>
	<th>거래소 지갑주소</th>
	<th>몰리페이</th>
	<th>거래소 지갑주소</th>
	</tr>
	</thead>
	<tbody>
		<tr>
		<td>Upbit</td>
		<td>wlsalsTMwlsalsTM</td>
		<td>Binance</td>
		<td>dlcjssjanajfdjdy</td>
		</tr>
</table>
</div>
</div>
</div>
</div>
</div>
<!-- 바디 하단 끝-->

</div>
</div>
</div>

<script src="/admin/js/jquery-3.5.1.min.js"></script>

<script src="/admin/js/popper.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/moment.min.js"></script>
<script src="/admin/js/select2.min.js"></script>

<script src="/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/admin/js/bootstrap-datetimepicker.min.js"></script>

<script src="/admin/plugins/datatables/datatables.min.js"></script>
<script src="/admin/js/script.js"></script>

</body>
</html>