<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>여기어때 관리자 페이지</title>

<!--shortcut icon  -->
	<link rel="shortcut icon" type="image/x-icon" href="/admin/img/favicon_170822.ico">
<!--shortcut icon 끝  -->
	<link rel="stylesheet" href="/admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="/admin/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/admin/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/admin/css/feathericon.min.css">
	<link rel="stylesheet" href="/admin/plugins/morris/morris.css">
	<link rel="stylesheet" type="text/css" href="/admin/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="/admin/css/style.css"> </head>

<body>
	<div class="main-wrapper">


		<!-- 헤더  -->
		<div th:replace="adminthy/admin-header :: admin-header"></div>
		<!-- 헤더 끝 -->


		<!-- 사이드바  -->
		<div th:replace="adminthy/admin-sidebar :: admin-sidebar"></div>
		<!-- 사이드바 끝  -->

		<!--	a태그 클릭시 넘어와야 하는 값-->
		<!--안연주 que ID값 넘어옴-->
		<input type="hidden" id="queid" th:value="${id}">

		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header mt-5">
					<div class="row">
						<div class="col">
							<h3 class="page-title">고객 정보</h3>
							<ul class="breadcrumb">
							
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="profile-header">
							<div class="row align-items-center">
								<div class="col-auto profile-image">
									<a href="#"> <img class="rounded-circle" alt="User Image" src="/admin/img/smalllogo.png"> </a>
								</div>
								<div class="col ml-md-n2 profile-user-info">
									<h4 class="user-name mb-3">김사과</h4>
			
							
								</div>
							
							</div>
						</div>
						<div class="profile-menu">
							<ul class="nav nav-tabs nav-tabs-solid">
							
							</ul>
						</div>
						<div class="tab-content profile-tab-cont">
							<div class="tab-pane fade show active" id="per_details_tab">
								<div class="row">
									<div class="col-lg-6">
										<div class="card">
											<div class="card-body card-body2">
												<h5 class="card-title d-flex justify-content-between">
                                                    <span>&nbsp;&nbsp;&nbsp;문의내용</span>
												
													</h5>

													<div class="card-body">
														<div class="table-responsive">
														<table class="table table-nowrap mb-0">
														<thead>
												
														<th></th>
														<th></th>
											
								
														</thead>
														<tbody>	</tbody>
														<tr>
														<th>닉네임</th>
														<td class="qname"></td>
														</tr>

														<tr>
														<th>카테고리유형</th>
														<td class="qcategory"></td>
														</tr>


														<tr>
														<th>전화번호</th>
														<td class="qhp"></td>
														</tr>

														<tr>
															<th>이메일</th>
															<td class="qemail"></td>
														</tr>

														<tr>
														<th>문의내용</th>
														<td class="qcontent" style="white-space:normal;"></td>
														</tr>

														</table>
														</div>
														</div>

									

											</div>
										</div>
										<div class="modal fade" id="edit_personal_details" aria-hidden="true" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Personal Details</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
													</div>
													<div class="modal-body">
														<form>
															<div class="row form-row">
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>First Name</label>
																		<input type="text" class="form-control" value="John"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>Last Name</label>
																		<input type="text" class="form-control" value="Doe"> </div>
																</div>
																<div class="col-12">
																	<div class="form-group">
																		<label>Date of Birth</label>
																		<div class="cal-icon">
																			<input type="text" class="form-control" value="24-07-1983"> </div>
																	</div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>Email ID</label>
																		<input type="email" class="form-control" value="johndoe@example.com"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>Mobile</label>
																		<input type="text" value="+1 202-555-0125" class="form-control"> </div>
																</div>
																<div class="col-12">
																	<h5 class="form-title"><span>Address</span></h5> </div>
																<div class="col-12">
																	<div class="form-group">
																		<label>Address</label>
																		<input type="text" class="form-control" value="4663 Agriculture Lane"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>City</label>
																		<input type="text" class="form-control" value="Miami"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>State</label>
																		<input type="text" class="form-control" value="Florida"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>Zip Code</label>
																		<input type="text" class="form-control" value="22434"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>Country</label>
																		<input type="text" class="form-control" value="United States"> </div>
																</div>
															</div>
															<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>

                        

									<div class="col-lg-6">
										<div class="card">
											<div class="card-body card-body2">
												<h5 class="card-title d-flex justify-content-between">
                                                    <div class="form-group">
                                                        <label>관리자 답변란</label>
                                                        <textarea cols="170" rows="10" class="form-control qanswer"></textarea>
														<form method="post" >
<!--                                                    <button type="submit" onclick="" class="btn btn-primary buttonedit1 mt-4" style="margin-left: 30px;">수정</button>-->
                                                    	<div type="submit"  class="btn btn-primary" onclick="sendit()">등록</div>
														</form>
													</div>
													</h5>

											</div>
										</div>
										<div class="modal fade" id="edit_personal_details1" aria-hidden="true" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Personal Details</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
													</div>
													<div class="modal-body">
														<form>
															<div class="row form-row">
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>First Name</label>
																		<input type="text" class="form-control" value="John"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>Last Name</label>
																		<input type="text" class="form-control" value="Doe"> </div>
																</div>
																<div class="col-12">
																	<div class="form-group">
																		<label>Date of Birth</label>
																		<div class="cal-icon">
																			<input type="text" class="form-control" value="24-07-1983"> </div>
																	</div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>Email ID</label>
																		<input type="email" class="form-control" value="johndoe@example.com"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>Mobile</label>
																		<input type="text" value="+1 202-555-0125" class="form-control"> </div>
																</div>
																<div class="col-12">
																	<h5 class="form-title"><span>Address</span></h5> </div>
																<div class="col-12">
																	<div class="form-group">
																		<label>Address</label>
																		<input type="text" class="form-control" value="4663 Agriculture Lane"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>City</label>
																		<input type="text" class="form-control" value="Miami"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>State</label>
																		<input type="text" class="form-control" value="Florida"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>Zip Code</label>
																		<input type="text" class="form-control" value="22434"> </div>
																</div>
																<div class="col-12 col-sm-6">
																	<div class="form-group">
																		<label>Country</label>
																		<input type="text" class="form-control" value="United States"> </div>
																</div>
															</div>
															<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="password_tab" class="tab-pane fade">
								<div class="card">
									<div class="card-body card-body2">
										<h5 class="card-title">Change Password</h5>
										<div class="row">
											<div class="col-md-10 col-lg-6">
												<form>
													<div class="form-group">
														<label>Old Password</label>
														<input type="password" class="form-control"> </div>
													<div class="form-group">
														<label>New Password</label>
														<input type="password" class="form-control"> </div>
													<div class="form-group">
														<label>Confirm Password</label>
														<input type="password" class="form-control"> </div>
													<button class="btn btn-primary" type="submit">Save Changes</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="/admin/js/jquery-3.5.1.min.js"></script>
	<script src="/admin/js/popper.min.js"></script>
	<script src="/admin/js/bootstrap.min.js"></script>
	<script src="/admin/js/moment.min.js"></script>
	<script src="/admin/js/select2.min.js"></script>
	<script src="/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/admin/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/admin/js/script.js"></script>





	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		$(function(){




			const queid = $('#queid').val();

			axios.get('/api/ques/qulist/'+ queid, {

			}).then(function(response){
				console.log(response);
				console.log('-----');

				const qname = response.data.data.qname; // 문의자 닉네임
				const qcategory = response.data.data.qcategory; //카테고리유형
				const qtype = response.data.data.qtype; //문의유형
				const qhp = response.data.data.qhp; //전화번호
				const qemail = response.data.data.qemail // 이메일
				const qcontent = response.data.data.qcontent; //문의내용
				const qanswer = response.data.data.qanswer; // 관리자 답변
				console.log(qanswer);
				$('.qname').text(qname);
				$('.qcategory').text(qcategory);
				$('.qtype').text(qtype);
				$('.qhp').text(qhp);
				$('.qemail').text(qemail);
				$('.qcontent').text(qcontent);

				$('.qanswer').attr('value', qanswer);
				$('.qanswer').text(qanswer);



				console.log('여기까지오니');


			});
		});


		function sendit(){

			//que id
			const queid = $('#queid').val();
			console.log(queid)

			//관리자 답변란
			const qanswer = $(".qanswer").val();
			console.log('관리자 답변란 :' + qanswer);

			axios.request({
				method: 'PATCH',
				url: '/api/ques/qlist/' + queid,
				headers: {'Content-type':'application/json'},
				data: {
					transaction_time:"2021-09-30",
					resultCode:"OK",
					description:"OK",
					data:{
						id: queid,
						qanswer: qanswer


					}
				}
			}).then(
					alert('관리자 답변이 등록 되었습니다'),
			)
			location.href='/adminindex/qustion'
			// return false;

		}


		// //수정버튼
		// function admit() {
		//
		//
		// 	//que id
		// 	const queid = $('#queid').val();
		// 	console.log(queid)
		//
		// 	//관리자 답변란
		// 	const qanswer = $(".qanswer").val();
		// 	console.log('관리자 답변란 :' + qanswer);
		//
		//
		//
		// 	alert('멈');
		//
		//
		// 	axios.request({
		// 		method: 'PATCH',
		// 		url: '/api/ques/qlist/'+ queid,
		// 		headers: {'Content-type':'application/json'},
		// 		data: {
		// 			transaction_time:"2021-09-27",
		// 			resultCode:"OK",
		// 			description:"OK",
		// 			data:{
		// 				id: hostid
		//
		// 				// tbMemId: memid
		//
		//
		// 			}
		// 		}
		// 	}).then(
		// 			alert('승인되었습니다!')
		//
		//
		// 	)
		// 	location.href='/roommanager.html'
		// 	// window.location.reload(true);
		//
		// }

	</script>
</body>

</html>