<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>여기어때 관리자 페이지</title>
	
<!--shortcut icon  -->
	<link rel="shortcut icon" type="image/x-icon" href="/admin/img/favicon_170822.ico">
<!--shortcut icon 끝  -->
	<link rel="stylesheet" href="/admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="/admin/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/admin/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/admin/css/feathericon.min.css">
	<link rel="stylesheet" href="/admin/plugins/datatables/datatables.min.css">
	<link rel="stylesheet" href="/admin/plugins/morris/morris.css">
	<link rel="stylesheet" href="/admin/css/style.css"> </head>

<body>
	<div class="main-wrapper">


		<!-- 헤더  -->
		<div th:replace="adminthy/admin-header :: admin-header"></div>
		<!-- 헤더 끝 -->


		<!-- 사이드바  -->
		<div th:replace="adminthy/admin-sidebar :: admin-sidebar"></div>
		<!-- 사이드바 끝  -->

		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<div class="mt-5">
								<h4 class="card-title float-left mt-2">예약/결제내역</h4>
								
								</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">

					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-table">
							<div class="card-body booking_card">
								<div class="table-responsive">
									<table id="ahn_datatable" class="datatable table table-stripped table table-hover table-center mb-0">
										<thead class="thead">
											<tr>
												<th>번호</th>
												<th>고객이름</th>
												<th>객실명</th>
												<th>객실예약번호</th>
												<th>연락처</th>
												<th>체크인</th>
												<th>체크아웃</th>
												<th>이용요금</th>
												<th>결제일</th>
											</tr>
										</thead>

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="/admin/js/jquery-3.5.1.min.js"></script>
	<script src="/admin/js/popper.min.js"></script>
	<script src="/admin/js/bootstrap.min.js"></script>
	<script src="/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/admin/plugins/raphael/raphael.min.js"></script>
	<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/admin/plugins/datatables/datatables.min.js"></script>
	<script src="/admin/js/script.js"></script>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>
		$(function(){
			axios.get('/api/pay/paylist', {

			}).then(function(response){
				console.log(response)
				$("#ahn_datatable").DataTable({
					"pageLength": 10,
					"bDestroy": true,
					"destroy": true,
				});

				let table = $("#ahn_datatable").DataTable();
				$('#ahn_datatable').DataTable().destroy();


				let tb = $('<tbody>');

				for(let i in response.data){
					let $id = response.data[i].id;
					let $tbRoomId = response.data[i].tbRoomId;
					// let $tbMemId = response.data[i].hostMemId;
					let $payRoomName = response.data[i].payRoomName;
					let $payHostName = response.data[i].payHostName;
					let $payName = response.data[i].payName;
					let $payHp = response.data[i].payHp;
					let $payCheckIn = response.data[i].payCheckIn;
					let $payCheckOut = response.data[i].payCheckOut;
					// let 투숙일자 = response.data[i].payHp;
					let $payDate = response.data[i].payDate;
					let $payMoney = response.data[i].payMoney;
					console.log($id);

					// $payCheckIn = $payCheckIn.substr(0,10);
					// $payCheckOut = $payCheckOut.substr(0,10);
					// $payDate = $payDate.substr(0,10);


					let row = $('<tr>').append(
							'<td>'+ $id +'</td>' +
							'<td style="text-shadow: 1px 2px 2px rgba(0,0,0,0.1);"><h2 class="table-avatar"><a href="/adminindex/paymentinformation/' + $id + '"><input type="hidden" name="id" id="id" value="'+ $id +'">' + $payName + '</a></h2></td>' +
							'<td>' + $payHostName + '</td>' +	//숙소명 , 고객이름
							'<td><a class="__cf_email__" data-cfemail="">'+ $tbRoomId +'</a></td>' +
							'<td>'+ $payHp +'</td>'+	//연락처
							'<td>'+ $payCheckIn +'</td>'+ //체크인
							'<td>'+ $payCheckOut + '</td>' + //체크아웃
							'<td>'+ $payMoney +'</td>' +	//이용요금
							'<td>' + $payDate + '</td>' + //결제일
							'</tr>'

					)
					tb.append(row);

				}
				tb.append('</tbody>'); //<tbody>에 row값 더한후 다시 </tbody>로 감싼상태
				$('.thead').after(tb); // 그 tb를 thead 뒤에 놓는다는 뜻
				$('#ahn_datatable').DataTable().draw();





			}).catch(function(err){
				console.log('all-staff axios list 호출중 에러');
				console.log(err);
			});

			// axios.get('/api/room/rrlist')
		});
	</script>



</body>

</html>