<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>여기어때 관리자 페이지</title>

	<!--shortcut icon  -->
	<link rel="shortcut icon" type="image/x-icon" href="/admin/img/favicon_170822.ico">
	<!--shortcut icon 끝  -->
	<link rel="stylesheet" href="/admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="/admin/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/admin/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/admin/css/feathericon.min.css">
	<link rel="stylesheet" href="/admin/plugins/datatables/datatables.min.css">
	<link rel="stylesheet" href="/admin/plugins/morris/morris.css">
	<link rel="stylesheet" href="/admin/css/style.css">


<!--	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
	<div class="main-wrapper">


		<!-- 헤더  -->
		<div th:replace="adminthy/admin-header :: admin-header"></div>
		<!-- 헤더 끝 -->


		<!-- 사이드바  -->
		<div th:replace="adminthy/admin-sidebar :: admin-sidebar"></div>
		<!-- 사이드바 끝  -->



		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<div class="mt-5">
								<h4 class="card-title float-left mt-2">숙소 등록 신청관리</h4>
							
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="card card-table">
							<div class="card-body booking_card">
								<div class="table-responsive">
									<table id="ahn_datatable" class="datatable table table-stripped table table-hover table-center mb-0">
										<thead class="thead">
											<tr>
												<th>번호</th>	
												<th>호스트 이름</th>
												<th>숙소명</th>
												<th>이메일</th>
												<th>휴대폰 번호</th>
												<th>업종</th>
												<th>업체주소</th>
												<th>업체세부주소</th>
												<th>상태</th>
											</tr>
										</thead>

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="/admin/js/jquery-3.5.1.min.js"></script>
	<script src="/admin/js/popper.min.js"></script>
	<script src="/admin/js/bootstrap.min.js"></script>
	<script src="/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/admin/plugins/raphael/raphael.min.js"></script>
	<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/admin/plugins/datatables/datatables.min.js"></script>
	<script src="/admin/js/script.js"></script>

	<script >
		$(function(){
			axios.get('/api/host/rhlist', {

			}).then(function(response){

				$("#ahn_datatable").DataTable({
					"pageLength": 10,
					"bDestroy": true,
					"destroy": true,
				});

				let table = $("#ahn_datatable").DataTable();
				$('#ahn_datatable').DataTable().destroy();

				console.log(response);
				let tb = $('<tbody>');

				for(let i in response.data){
					let $id = response.data[i].id;
					console.log($id);
					let $almName = response.data[i].almName; //호스트 이름
					let $myCorporate = response.data[i].myCorporate; //소개업체명
					let $myEmail = response.data[i].myEmail; // 이메일
					let $almHp = response.data[i].almHp; //전화번호
					let $myType = response.data[i].myType; // 업종
					let $myIntcomadd1 = response.data[i].myIntcomadd1; //업체주소
					let $myIntcomadd2 = response.data[i].myIntcomadd2; //업체세부주소


					let $myIntcom2 = response.data[i].myIntcom;
					let $tbMemId = response.data[i].tbMemId;
					let tbid = response.data[i].tbMemId;
					let $pkAdmit = response.data[i].pkAdmit; // 상태
					// <a href="b.jsp?name="<%=request.getString("name")%>이동</a>

					//승인확인
					// if ($ische == "y"){
					// 	$ische = "답변"
					// 	st = `<td style="color: red">` + $ische + `</td>`
					// }
					// if($ische == "n"){
					// 	$ische = "미답변"
					// 	st = `<td style="color: green">` + $ische + `</td>`
					// }

					let row = $('<tr>').append(
							'<td>'+ $id +'</td>' +
							'<td style="text-shadow: 1px 2px 2px rgba(0,0,0,0.1);"><h2 class="table-avatar"><a href="/adminindex/roomregistration/'+$id+'/'+ $tbMemId + '"><input type="hidden" name="id" id="id" value="'+ $id +'">' + $almName + '</a></h2></td>' +
							'<td>'+ $myCorporate +'</td>' +
							'<td><a class="__cf_email__" data-cfemail="">'+ $myEmail +'</a></td>' +
							'<td>'+ $almHp +'</td>'+
							'<td>'+ $myType+'</td>'+
							'<td>'+ $myIntcomadd1 +'</td>' +
							'<td>'+ $myIntcomadd2 +'</td>' +
							//대기 승인 버튼
							'<td><div id="ahn" class="actions ahn' + $pkAdmit + '"> <a href="#" id="ahn2" class="btn btn-sm bg-success-light mr-2">대기</a></div></td>'+
							'</tr>'

					)
					tb.append(row);

				}
				tb.append('</tbody>'); //<tbody>에 row값 더한후 다시 </tbody>로 감싼상태
				$('.thead').after(tb); // 그 tb를 thead 뒤에 놓는다는 뜻
				$('#ahn_datatable').DataTable().draw();


				// $('.like_btn').click(function () { $(this).toggleClass('on'); if ($(this).hasClass("on")) { $(this).parent().addclass('active') } else if (!$(this).hasClass("on")) { $(this).parent().removeclass('active') } });



			}).catch(function(err){
				console.log('all-staff axios list 호출중 에러');
				console.log(err);
			}).finally(function (){

						if($("#ahn").hasClass("ahnn")){
							$("#ahn").addClass('active');
							// tbmemid가 y n일때

							console.log('dddddd');
						}

					});


		});
	</script>

</body>

</html>