/* scheduleManagement3,6 . */
.menu-step {
    /* display: none; */
    width: 964px;
    height: 700px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: -1px 1px 2px #aaa;
}
/* scheduleManagement3,6 . 끝 */
