<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type">
    <meta name="csrf-name" content="yeogi_token">

    <meta name="description" content="여기어때 회원 가입 | 전국 호텔, 펜션, 모텔부터 워터파크, 놀이공원, 아쿠아리움까지 최저가 할인 예약">

    <link rel="shortcut icon" href="/img/images/web_v3/favicon_170822.ico" type="image/x-icon">

    <!-- CSS -->
    <title>비밀번호 재설정 | 여기어때</title>
    <link rel="stylesheet" href="/css/common.css" />
    <!-- <link rel="canonical" href="https://www.goodchoice.kr/user/passwd_reset_new"> -->
    <script type="text/javascript" src="/js/library/jquery-1.12.4.min.js"></script>

    <script>(function (a, b, c) { if (c in b && b[c]) { var d, e = a.location, f = /^(a|html)$/i; a.addEventListener("click", function (a) { d = a.target; while (!f.test(d.nodeName)) d = d.parentNode; "href" in d && (d.href.indexOf("http") || ~d.href.indexOf(e.host)) && (a.preventDefault(), e.href = d.href) }, !1) } })(document, window.navigator, "standalone")</script>
</head>

<body>

    <!-- Wrap -->
    <div class="wrap">

        <style type="text/css">
            .validate_msg_label {
                margin-top: 20px;
                display: inline-block;
                font-size: 12px;
                color: red;
            }

            .inp_type_1 {
                margin-top: 30px;
                padding: 0px;
            }

            .inp_type_1 input {
                padding-left: 38px;
                width: 80%;
            }

            .btn_link {
                margin-top: 30px !important;
            }
        </style>
        <script>
            //이벤트 등록
            $(document).ready(function () {

                $('#new_pw').keyup(function () {
                    new_pw_validate('gray', true);
                    changePw_BtnDisabled_validate();
                }
                );

                $('#new_pw').focusout(function () {
                    var color = $('#new_pw_msg').css('color');
                    if (color != 'rgb(0, 0, 255)') {
                        $('#new_pw_msg').css('color', 'red');
                    } else {
                        $('#new_pw_msg').empty();
                    }
                    changePw_BtnDisabled_validate();
                });

                $('#new_pw_re').keyup(function () {
                    new_pw_re_validate(true);
                    changePw_BtnDisabled_validate();
                }
                );

                changePw_BtnDisabled_validate();
            });
        </script>

        <!-- 로그인 pop_layer_w('pop_login') -->
        <div class="layer_fix layer_unfix pop_login pop_mem_reserve new-style-form">
            <section>
                <form id="loginForm" action="https://www.goodchoice.kr/user/passwdResetNewProcess" autocomplete="off"
                    method="post">
                    <input type="hidden" name="returnUrl" value="">
                    <input type="hidden" name="yeogi_token" value="cc760fcf103a1687f9150aea1bb40664">

                    <strong class="sub_title">새 비밀번호 설정</strong>

                    <p class="txt_top">
                        인증이 완료되었습니다.<br />
                        새로운 비밀번호를 입력해주세요.
                    </p>

                    <div class="inp_type_1 ico_pw form-errors form-password-rule input-pw-div">
                        <input type="password" name="passwd" placeholder="새 비밀번호(최소 8자 이상)" id="new_pw" />
                        <label id="new_pw_msg" class="validate_msg_label"></label>
                    </div>
                    <div class="inp_type_1 ico_pw form-errors">
                        <input type="password" name="confirm_passwd" id="new_pw_re" placeholder="새 비밀번호 확인" />
                        <label id="new_pw_re_msg" class="validate_msg_label"></label>
                    </div>

                    <button type="button" onclick="changePwSubmit();"
                        class="btn_link gra_left_right_red btn_user_submit" disabled><span>비밀번호 변경</span></button>
                </form>
            </section>
        </div>

        <style>
            /* layer_unfix 존재시 footer 숨김 */
            .mobile_appdown,
            header,
            footer {
                display: none !important
            }
        </style>

        <script type="text/javascript" src="/js/service/passwordValidate.js"></script>

    </div>

    <!-- 상단으로 -->
    <button class="btn_go_top" onclick="moveTop();">상단으로</button>

    <!-- //Wrap -->

    <!-- Script -->
    <!-- Library -->
    <script type="text/javascript" src="/js/library/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/library/jquery.lazyload.js"></script>
    <script type="text/javascript" src="/js/library/iscroll.js"></script>

    <!-- Service -->
    <script type="text/javascript" src="/js/service/common.js"></script>
    <script type="text/javascript" src="/js/service/geolocation.js"></script>

    <!-- Module -->
    <script type="text/javascript" src="/js/modules/dialogPopup.js"></script>

    <!-- Page Script -->
    <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/js/library/validation/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/library/validation/localization/messages_ko.js"></script>
    <script type="text/javascript" src="/js/library/validation/additional-methods.js"></script>
    <script type="text/javascript" src="/js/service/validate.js"></script>
    <script type="text/javascript" src="/js/service/login.js"></script>
    <script type="text/javascript" src="/js/service/user-validate.js"></script>

    <!-- Body Spinner -->
    <div class="spinner show"><span></span></div>

</body>

</html>