<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/common.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Custom Style -->
    <style type="text/css">

        .validate_msg_label {
            margin-top: 30px;
            display: inline-block;
            font-size: 13px;
            color: red;
        }

        .validate_msg_label2 {
            margin-top: 30px;
            display: inline-block;
            font-size: 13px;
            color: red;
        }

        .inp_type_2 {
            padding: 0 10px;
        }
    </style>
</head>
<body>
<!-- <div class="layer_fix pop_login pop_mem_reserve"> -->
<div class="layer_fix pop_login pop_mem_reserve">
    <section>
        <!-- <form id="joinForm" action="./index.html" method="post" onsubmit="sendit()"> -->

        <form th:action="@{/userindex/signup}" method="post" onsubmit="sendit()" >
            <div class="fix_title">
                <h1 class="page_head"><a href="/userindex/" title="여기어때">여기어때</a></h1>
            </div>

            <div class="join">
                <div class="phone_confirm">
                    <div id="sendCode">
                        <b>핸드폰 번호</b>
                        <section>
                            <div class="inp_wrap remove">
                                <input type="text" id="memHp"name="memHp" placeholder="하이픈(-)제외">
                                <!-- <button type="button" class="btn_checked">확인</button> -->
                            </div>
                            <button type="button" class="confirm sendcode">인증번호 전송</button>
                        </section>
                    </div>
                    <div id="check" style="display: none;">
                        <b>인증번호</b>
                        <section>
                            <div class="inp_wrap remove">
                                <input type="text" id="ucode" minlength="4" maxlength="4">
                                <span class="time">&nbsp;</span>
                                <div id="codeResult" class="validate_msg_label" style="margin-bottom: 0px;"></div>
                            </div>
                            <button type="button" class="confirm checkcode" data-verification-type="call"
                                    data-verification-next="joinTemplate">확인</button>
                        </section>
                    </div>
                </div>

                <!--                <b>권한</b>-->
                <div class="inp_type_2 form-errors form-password-rule" style="display: none";>
                    <input type="password" name="role" id="role" placeholder="비밀번호를 입력해주세요." value="USER" />
                </div>


                <b>비밀번호</b>
                <div class="inp_type_2 form-errors form-password-rule">
                    <input type="password" name="memPw" id="memPw" placeholder="비밀번호를 입력해주세요."/>
                    <label id="new_pw_msg" class="validate_msg_label"></label>
                </div>

                <b>비밀번호 확인</b>
                <div class="inp_type_2 form-errors">
                    <input type="password" name="upw_retry" id="memPw_re" placeholder="비밀번호를 입력해주세요."/>
                    <label id="new_pw_re_msg" class="validate_msg_label2"></label>
                </div>


                <button type="submit" class="btn_link gra_left_right_red" id="memJoin"><span>비밀번호재설정</span></button>
                <!-- <p><input type="submit" value="등록"></p> -->

                <script>
                    var adjective = ["이구아나닮은", "몰리엄마", "동탄사는", "자취하는", "혼맥하는", "이천시민"]
                    var object = ["이정훈", "이민정", "조명준", "표제인", "안연주", "정상훈"]

                    function generator() {
                        document.getElementById("memNkname").value = adjective[Math.floor(Math.random() * adjective.length)] + object[Math.floor(Math.random() * object.length)]
                    };
                </script>
            </div>
        </form>
    </section>
</div>
<!--민정 수정-->
<script>
    $(function () {

        //문자 인증번호 전송
        var code = "";  //매번 인증시 코드가 변경되어야 함으로 var를 사용
        $(".sendcode").on("click", function () {

            $("#check").attr("style", "display: block;");   //인증번호 input태그 출력

            const phone = $("#memHp").val();    //폰 번호
            code = (String(Math.random())).substring(3, 7);  //랜덤 생성 index 3부터 7까지 substring으로 끊어냄

            console.log(콜); //입력받은 폰번호
            console.log(code); // 입력받은 인증확인코드

            //url 실행으로 팝업 사용
            let url = "/sms?phone=" + phone + "&code=" + code;    //메일: "/mail?phone"  ,  //문자: "/sms?phone=" 이코드로 컨트롤러 메소드 실행
            let send = window.open(url, '인증번호 전송', 'width=430,height=500,location=no,status=no,scrollbars=yes');

            $.ajax({    //url을 팝업으로 열어서 함수 실행이 완료되면, 자동으로 사라짐
                type: "GET",
                success: function () { //위 코드들이 성공적으로 실행된다면,
                    send.close();
                }
            });
        });

        //인증번호 일치 확인 문구
        $(".checkcode").on("click", function () {
            if ($("#ucode").val() == code) {
                ($("#codeResult").html("일치합니다"));
                clearInterval(timer);   //인증확인 일치할경우 타이머멈추기
                $('.time').html("");    //타이머 사라지게하기
            } else {
                ($("#codeResult").html("일치하지 않습니다"));
                //재전송 버튼으로 바뀌는거 구현하면 좋은데.. 일단 패스
            }
        })

        //인증확인 클릭
        $(".sendcode").click(function (e) {
            var timer = null;
            var isRunning = false;
            var display = $('.time');
            var leftSec = 180;
            // 남은 시간
            // 이미 타이머가 작동중이면 중지
            if (isRunning) {
                clearInterval(timer);
                display.html("");
                startTimer(leftSec, display);
            } else {
                startTimer(leftSec, display);
            }
        });

        //이메일 체크
        $(".chkolemail").on("click", function () {
            axios.get('/api/tbmem/mlist', {}).then(function (response) {
                for (let i = 0; i < response.data.length; i++) {
                    if ($("#memEmail").val() == response.data[i].memEmail) {
                        console.log("이미 사용중인 이메일 입니다.");
                        $("#gcuseremail_msg").html("이미 사용중인 이메일 입니다.");
                        break;
                    } else {
                        console.log("사용 가능합니다!");
                        $("#gcuseremail_msg").html("사용 가능합니다!");
                    }
                }
                ;
            });
        });

        //이메일 유효성 검사
        $("#memEmail").on("input", function () {
            var regex = /.+@[a-z]+(\.[a-z]+){1,2}$/;
            var result = regex.exec($("#memEmail").val());

            if (result != null) {
                $("#gcuseremail_msg").html("");
            } else {
                $("#gcuseremail_msg").html("올바른 이메일 형식이 아닙니다");
            }
        });

        //비밀번호 체크
        $("#memPw_re").on("keyup", function () {
            console.log("입력중");
            if ($("#memPw").val() == $("#memPw_re").val()) {
                $("#new_pw_re_msg").html("비밀번호가 일치합니다");
            } else {
                $("#new_pw_re_msg").html("비밀번호가 일치하지않습니다");
            }
        });

        // 타이머
        function startTimer(count, display) {

            var minutes, seconds;
            timer = setInterval(function () {
                minutes = parseInt(count / 60, 10);
                seconds = parseInt(count % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.html(minutes + ":" + seconds);

                // 타이머 끝
                if (--count < 0) {
                    clearInterval(timer);
                    alert("시간초과");
                    display.html("시간초과");
                    $('.btn_link').attr("disabled", "disabled");
                    $('.btn_link').css({ background: '#ccc' });
                    isRunning = false;
                }
            }, 1000);
            isRunning = true;
        }
    });

</script>
<script>
    // 데이터 빈값이 있을경우 가입안되도록 공백처리
    $(document).ready(function (){
        $("#memJoin").click(function (){
            if($('#memHp').val().length==0){alert("휴대폰번호를 입력하세요"); $('#memHp').focus(); return false; }
            if($('#ucode').val().length==0){alert("인증코드를 입력하세요"); $('#ucode').focus(); return false; }
            if($('#memEmail').val().length==0){alert("이메일아이디를 입력하세요"); $('#memEmail').focus(); return false; }
            if($('#memPw').val().length==0){alert("비밀번호를 입력하세요"); $('#memPw').focus(); return false; }
            if($('#memPw_re').val().length==0){alert("비밀번호 확인을 입력하세요"); $('#memPw_re').focus(); return false; }

        });
    });
</script>
<!--민정 수정-->
</body>

</html>