<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="여기어때 회원 가입 | 전국 호텔, 펜션, 모텔부터 워터파크, 놀이공원, 아쿠아리움까지 최저가 할인 예약">
    <link rel="shortcut icon" href="/img/images/web_v3/favicon_170822.ico" type="image/x-icon">
    <!-- CSS -->
    <title>이용문의 - 자주 묻는 질문 | 여기어때</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="canonical" href="https://www.goodchoice.kr/more/faq">
    <script type="text/javascript" src="/js/library/jquery-1.12.4.min.js"></script>

    <script>
        var _BASE_URL = 'https://www.goodchoice.kr/';
        var _MOBILE = 'W';
        var _KAKAOTALK_APP_KEY = 'f6ffb505bb11d7cc3584d443ce35f704';
        var _FACEBOOK_APP_ID = '607467975974643';
    </script>
    <script>(function (a, b, c) { if (c in b && b[c]) { var d, e = a.location, f = /^(a|html)$/i; a.addEventListener("click", function (a) { d = a.target; while (!f.test(d.nodeName)) d = d.parentNode; "href" in d && (d.href.indexOf("http") || ~d.href.indexOf(e.host)) && (a.preventDefault(), e.href = d.href) }, !1) } })(document, window.navigator, "standalone")</script>
</head>

<body>

    <!-- Wrap -->
    <div class="wrap">

     <!-- 헤더 -->
        <div th:replace="userthy/user-headerlogin :: user-headerlogin"></div>
        <!--헤더 끝 -->

        <!-- Bg Dimm -->
        <div class="bg_dimm" onclick="close_layer();">&nbsp;</div>
        <div class="bg_dimm_prevent">&nbsp;</div>

        <!-- 추천검색어 -->
        <div class="recommend_srch">
            <div class="scroll_srch">
                <div class="scroller">
                    <div class="default" style="display:block">
                        <strong>추천 검색어</strong>
                        <ul></ul>
                    </div>
                    <!-- 연관검색어 -->
                    <div class="chain">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="gnb_opacity"><button class="btn_close">닫기</button></div>
        <div class="menu_wrap">

            <div class="menu">
                <div class="top">
                    <!-- 회원 -->
                    <div class="member">
                        <div class="mem">
                            <span class="pic"
                                style="background:url('/img/profile/ico/ico_22.png') 50% 50% no-repeat;"></span>
                            <p class="info">사과색깔</p>
                        </div>
                        <div class="bot">
                            <a href="/userindex/point">
                                <p>0P<br /><span>포인트</span></p>
                            </a>
                            <a href="/userindex/coupon">
                                <p>1장<br /><span>쿠폰함</span></p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Iscroll -->
                <div class="scroll_nav">
                    <div class="scroller">
                        <ul>
                            <li><a href="/index">홈</a></li>
                            <li class="depth_2">
                                <button type="button" class="has_ul"><span>숙소유형</span></button>
                                <ul>
                                    <li><a href="/userindex/1">모텔</a></li>
                                    <li><a href="/userindex/2">호텔/리조트</a></li>
                                    <li><a href="/userindex/3">펜션</a></li>
                                    <li><a href="/userindex/4">리조트</a></li>
                                    <li><a href="/userindex/5">캠핑·글램핑</a></li>
                                    <li><a href="/userindex/6">게스트하우스</a></li>
                                    <li><a href="/userindex/7">한옥 </a></li>
                                </ul>
                            </li>
                            <li><a href="/userindex/8">내주변</a></li>
                        </ul>
                        <ul>
                            <li><a href="/userindex/reservations">예약 내역</a></li>
                            <li><a href="/userindex/mypage">내 정보 관리</a></li>
                        </ul>
                        <ul>
                            <li class="depth_2"><button type="button" class="has_ul"><span>더보기</span></button>
                                <ul>
                                   <!-- <li><a href="/userindex/notice">공지사항</a></li> -->
                                    <li><a href="/userindex/event">이벤트</a></li>
                                    <li><a href="/userindex/project">혁신 프로젝트</a></li>
                                    <li><a href="/userindex/faq">고객문의</a></li>
                                    <li><a href="/userindex/terms">약관 및 정책</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="center">
                            <p>여기어때 고객행복센터</p>
                            <p><a href="tel:1670-6250">1670-6250</a></p>
                            <p>오전 9시 - 새벽 3시</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Mobile Menu -->

        <!-- CSS -->
        <link rel="stylesheet" href="/css/more.css" />

        <!-- Sub Top -->
        <div class="sub_top_wrap">
            <div class="sub_top bg_kong_3">
                <h2>더보기</h2>
            </div>
        </div>
        <!-- //Sub Top -->

        <!-- Content  -->
        <div id="content" class="sub_wrap more_wrap">

            <!-- Nav -->
            <nav>
                <ul>
                    <!-- <li><a class="" href="/userindex/notice">공지사항</a></li> -->
                    <li><a class=""  href="/userindex/event">이벤트</a></li>
                    <li><a class="" href="/userindex/project">혁신 프로젝트</a></li>
                    <li><a class="active" href="/userindex/faq">자주 묻는 질문</a></li>
                    <li><a class="" href="/userindex/inquiry">1:1 문의</a></li>
                    <li><a class="" href="/userindex/terms">약관 및 정책</a></li>
                </ul>
            </nav>
            <div class="align_rt">

                <!-- Faq -->
                <div class="faq">

                    <div class="mobile_top">고객문의<a href="/more/inquiry" class="top_btn">1:1문의</a></div>

                    <!-- 상단 탭 버튼 -->
                    <div class="top_link">
                        <li>
                            <a href="/userindex/faq" class="">TOP7</a>
                        </li>
                        <li>
                            <a href="/userindex/faq26" class="on">이용문의</a>
                        </li>
                        <li>
                            <a href="/userindex/faq27" class="">예약취소</a>
                        </li>
                        <li>
                            <a href="/userindex/faq28" class="">결제/영수증</a>
                        </li>
                        <li>
                            <a href="/userindex/faq29" class="">예약문의</a>
                        </li>
                        <li>
                            <a href="/userindex/faq30" class="">쿠폰/포인트</a>
                        </li>
                        <li>
                            <a href="/userindex/faq32" class="">회원정보</a>
                        </li>
                        <li>
                            <a href="/userindex/faq33" class="">리얼리뷰</a>
                        </li>
                        <li>
                            <a href="/userindex/faq36" class="">모바일티켓</a>
                        </li>
                    </div>
                    <!-- //상단 탭 버튼 -->

                    <!-- List -->
                    <div class="faq_list">
                        <strong class="title">자주 묻는 질문</strong>
                        <div class="list" style="display:block">
                            <ul>
                                <li>
                                    <p class="link"><span>고객행복센터 연결 지연 시 어떻게 하나요?</span></p>
                                    <div class="ans">
                                        <div>
                                            <font face="arial"><span style="font-size: 13.3333px;">일부 시간대에는 통화량이 많아 상담사
                                                    연결이 지연될 수 있습니다.</span></font>
                                        </div>
                                        <div><span style="font-family: arial; font-size: 10pt;">&nbsp;</span></div>
                                        <div><span style="font-family: arial; font-size: 10pt;">여기어때는 전화 상담 외에도 다양한 방식으로
                                                상담이 가능하오니 연결 지연 시 1:1문의, 카카오톡을 통해 상담을 부탁드립니다.</span></div>
                                    </div>
                                </li>
                                <li>
                                    <p class="link"><span>어떻게하면 엘리트가 될 수 있나요?</span></p>
                                    <div class="ans">
                                        <div>
                                            <font color="#252525" face="arial"><span style="font-size: 13.3333px;">여기어때를
                                                    통해 숙소/모바일티켓 상관없이 실 결제금액 3만원 이상 5번을 예약하면 자동 등업되어 엘리트가 됩니다.</span>
                                            </font>
                                        </div>
                                        <div>
                                            <font color="#252525" face="arial"><span
                                                    style="font-size: 13.3333px;">&nbsp;</span></font>
                                        </div>
                                        <div>
                                            <font color="#252525" face="arial"><span style="font-size: 13.3333px;">나의 적립
                                                    상태는 앱 하단 내정보 &gt; 엘리트 메뉴에서 확인해 주세요!</span></font>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="link"><span>엘리트 적립이 안돼요.</span></p>
                                    <div class="ans">
                                        <div>
                                            <font color="#252525" face="arial"><span style="font-size: 13.3333px;">엘리트는
                                                    여기어때를 통해 숙소/모바일티켓 상관없이 실 결제금액 3만원 이상 예약한 경우에만 적용되며 숙소는 체크아웃(퇴실),
                                                    모바일티켓은 이용 완료 후 자동 적립됩니다.</span></font>
                                        </div>
                                        <div>
                                            <font color="#252525" face="arial"><span
                                                    style="font-size: 13.3333px;"><br></span></font>
                                        </div>
                                        <div>
                                            <font color="#252525" face="arial"><span
                                                    style="font-size: 13.3333px;">쿠폰/포인트 사용 후 실 결제금액이 3만원 미만일 경우 적립이
                                                    불가하오니 결제금액을 확인해주시길 바랍니다.</span></font>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="link"><span>정확한 내 위치 확인이 안돼요.</span></p>
                                    <div class="ans">
                                        <div><span style="font-family: arial; font-size: 10pt;">여기어때는 위치기반 서비스로 정확한 위치가
                                                인식되어야 정상적인 이용이 가능합니다.&nbsp;</span><br><br></div>
                                        <div><span style="font-family: arial; font-size: 10pt;">단말기의 GPS를 통한 내 위치 설정 시,
                                                단말기 상태에 따라 위치 인식에 예외사항이 발생할 수 있으니, GPS 재설정을 통해 정확하게 확인해 주시기 바랍니다.</span>
                                        </div>
                                        <div><span style="font-family: arial; font-size: 10pt;">&nbsp;</span></div>
                                        <div><span style="font-family: arial; font-size: 10pt;">만약 같은 불편을 계속 겪으실 경우,
                                                단말기의 소프트웨어 업데이트 또는 데이터 환경 확인 및 앱을 완전히 삭제 후 재설치 부탁드립니다.</span></div>
                                    </div>
                                </li>
                                <li>
                                    <p class="link"><span>숙소 정보를 공유하는 기능이 있나요?</span></p>
                                    <div class="ans">
                                        <div><span style="font-family: arial; font-size: 10pt;">숙소 상세페이지 &gt; 오른쪽 상단의
                                                공유하기 아이콘을 클릭하시면 카카오톡, 문자메시지로 빠르게 공유할 수 있습니다.</span></div>
                                        <div><br></div>
                                        <div><span style="font-family: arial; font-size: 10pt;">여기어때의 공유 기능을 통해 주변 지인들에게
                                                숙소를 공유해 보세요!</span></div>
                                    </div>
                                </li>
                                <li>
                                    <p class="link"><span>운영중인 숙소를 등록하고 싶어요.</span></p>
                                    <div class="ans">
                                        <div>
                                            <font face="arial"><span style="font-size: 13.3333px;">여기어때 입점 광고를 원하실 경우
                                                    고객행복센터로 문의해 주시면 친절하게 안내드리겠습니다.</span></font>
                                        </div>
                                        <div>
                                            <font face="arial"><span style="font-size: 13.3333px;"><br></span></font>
                                        </div>
                                        <div>
                                            <font face="arial"><span style="font-size: 13.3333px;">※ 전화문의 : 1544-4087
                                                    (상담시간 : 오전 9시~익일 3시)&nbsp;</span></font>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //List -->

                </div>
                <!-- //Faq -->

            </div>

        </div>
        <!-- //Content  -->

        <!-- 푸터 -->
        <div th:replace="userthy/user-footer :: user-footer"></div>
        <!--푸터 끝 -->


    </div>

    <!-- 상단으로 -->
    <button class="btn_go_top" onclick="moveTop();">상단으로</button>

    <!-- //Wrap -->

    <!-- Script -->
    <!-- Library -->
    <script type="text/javascript" src="/js/library/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/library/jquery.lazyload.js"></script>
    <script type="text/javascript" src="/js/library/iscroll.js"></script>

    <!-- Service -->
    <script type="text/javascript" src="/js/service/common.js"></script>
    <script type="text/javascript" src="/js/service/geolocation.js"></script>

    <!-- Module -->
    <script type="text/javascript" src="/js/modules/dialogPopup.js"></script>

    <!-- Page Script -->
    <script type="text/javascript" src="/js/library/vue.min.js"></script>
    <script type="text/javascript" src="/js/service/more.js"></script>

    <!-- Body Spinner -->
    <div class="spinner show"><span></span></div>

</body>

</html>