<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">



<div class="sidebar" id="sidebar" th:fragment="admin-sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="active"> <a href="/adminindex/"><i class="fas fa-tachometer-alt"></i> <span>관리자 목록</span></a> </li>
                <li class="list-divider"></li>




                <!-- 회원관리 -->

                <li class="submenu"> <a href="#"><i class="fas fa-user"></i> <span> 회원관리 </span> <span class="menu-arrow"></span></a>
                    <ul class="submenu_class" style="display: none;">
                        <li><a href="/adminindex/all-staff">전체 회원관리</a></li>
                        <li><a href="/adminindex/all-staff_cancle">탈퇴 회원관리</a></li>
                    </ul>
                </li>

                <!-- 회원관리 끝 -->





                <!-- 호스트 관리 -->

                <li class="submenu"> <a href="#"><i class="fas fa-share-alt "></i> <span> 호스트관리 </span> <span class="menu-arrow"></span></a>
                    <ul class="submenu_class" style="display: none;">
                        <li><a href="/adminindex/all-host">전체 호스트관리</a></li>
                        <li><a href="/adminindex/roommanager">숙소 관리</a></li>
                        <li><a href="/adminindex/reviewmanagement">리뷰 관리</a></li>
                    </ul>
                </li>


                <!-- 호스트 관리 끝 -->




                <!--예약/결제내역 -->

                <li class="submenu"> <a href="#"><i class="fas fa-calendar"></i> <span> 예약/결제내역 </span> <span class="menu-arrow"></span></a>
                    <ul class="submenu_class" style="display: none;">
                        <li><a href="/adminindex/reservationpayment">예약/결제내역 </a></li>
                        <li><a href="/adminindex/reservationcancle">취소내역 </a></li>
                    </ul>
                </li>

                <!--예약/결제내역 끝-->





                <!-- 문의관리  -->

                <li class="submenu"> <a href="#"><i class="fas fa-book"></i> <span> 문의관리 </span> <span class="menu-arrow"></span></a>
                    <ul class="submenu_class" style="display: none;">
                        <li><a href="/adminindex/qustion"> 1:1문의관리</a></li>
                    </ul>
                </li>

                <!-- 문의관리 끝 -->





                <!-- 결제관리  -->

                <li class="submenu"> <a href="#"><i class="fas fa-money-bill-alt"></i> <span> 결제관리 </span> <span class="menu-arrow"></span></a>
                    <ul class="submenu_class" style="display: none;">
                        <li><a href="/adminindex/payments">결제시스템관리 </a></li>
                    </ul>
                </li>

                <!-- 결제관리 끝  -->

            </ul>
        </div>
    </div>
</div>

</html>