<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<header th:fragment="admin-header">

    <div class="header">
        <div class="header-left">
            <a href="/adminindex/" class="logo"> <img src="/admin/img/logowhite.png" width="30" height="50" alt="logo"></a>
            <a href="/adminindex/" class="logo logo-small"> <img src="/admin/img/smalllogo.png" alt="Logo" width="30" height="30"> </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
        <a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
        <ul class="nav user-menu">
            <li class="nav-item dropdown noti-dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="fe fe-bell"></i> <span class="badge badge-pill ques"></span> </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header"> <span class="notification-title">알림</span>
<!--                        <a href="javascript:void(0)" class="clear-noti"> 모두 읽기 </a> -->
                    </div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            <!-- 알림 -->
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
                                        <img class="avatar-img rounded-circle" alt="User Image" src="/admin/img/smalllogo.png"></span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title qnames">김사과</span> 님이 문의를 <span class="noti-title">남기셨습니다 </span></p>
                                            <!--                                            <p class="noti-time"><span class="notification-time">4 mins ago</span> </p>-->
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!-- 알림 끝-->
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="/admin/img/smalllogo.png">
                                            </span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title qnames">반하나</span> 님이 문의를 <span class="noti-title">남기셨습니다 </span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="/admin/img/smalllogo.png">
                                            </span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title qnames">아보가도</span> 님이 문의를 <span class="noti-title">남기셨습니다 </span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media"> <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="/admin/img/smalllogo.png">
                                            </span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title qnames">최메론</span> 님이 문의를 <span class="noti-title">남기셨습니다 </span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer"> <a href="/adminindex/qustion">전체 문의 보기</a> </div>
                </div>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" src="/admin/img/smalllogo.png" width="40" alt="Soeng Souy"></span> </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm"> <img src="/admin/img/smalllogo.png" alt="User Image" class="avatar-img rounded-circle"> </div>
                        <div class="user-text">
                            <h6>김사과</h6>
                            <p class="text-muted mb-0">Administrator</p>
                        </div>
                    </div> <a class="dropdown-item" href="/adminindex/login">로그아웃</a>
                </div>

            </li>
        </ul>
        <div class="top-nav-search">

            </form>
        </div>
    </div>

    <script src="/admin/js/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        console.log(`왜 헤더엔 안먹냐?1`);
        // 1:1 문의 리스트
        $(function(){
            axios.get('/api/ques/qlist', {

            }).then(function(response){
                console.log(`왜 헤더엔 안먹냐?2`);
                let questions = Object.keys(response.data).length
                $('.ques').text(questions);

                for(let i in response.data){
                    let $qname = response.data[i].qname;

                    $('.qnames').text($qname);

                }
            }).catch(function(err){
                console.log('all-staff axios list 호출중 에러');
                console.log(err);
            });


        });
    </script>

</header>

</html>