
/* 가운데 텍스트 */

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ahn_texting{
    width: 500px;
    position: absolute;
    color: aliceblue;
    /* position: ;  */
    height: auto;
    margin-left: 65%;
    margin-top: 30%;
    }
.ahn_t_div {
    width: 100%;
    text-align: left;
}
.ahn_t_1{
    line-height: 45px;
    text-shadow: 2px 2px 4px gray;
    
    font-size: 40px;
    font-weight: bold;
   
}
.ahn_t_2{
    line-height: 50px;
    text-shadow: 4px 2px 2px gray;

    font-size: 40px;
 
   
}
.ahn_t_2::after{
    content:"여기어때";
    margin-left: 10px;
    width:192px;
    height:42px;
    /* background-size: cover; */
    font-size: 45px;
    font-family: 'yg-jalnan';


}
/* --------------- */

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }



.ahn_main_link{
    width: 872px !important;
}

/* -------------------- */
.animatedhover {
   
    animation-play-state: paused;
  }
  .animatedhover:hover {
    animation-play-state: running;
    animation-iteration-count:infinite;
 
  }

.ahn_another_them{

    left: 0px;
    width: 100%;
    position: relative;
}

.main_spot{height:50vw;background:#fff url('../img/images/web_v3/mainimg2.png') no-repeat;background-size:cover;text-indent:-9999px;}
.main_spot{
height:100vh;
/* background-size: cover; */

}


@media screen and (max-width:1023px) {
    .ahn_t_div {
       display: none;
    }
    }
    
   

