<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type">
	<meta name="csrf-name" content="yeogi_token">

	<meta name="description" content="여기어때 회원 가입 | 전국 호텔, 펜션, 모텔부터 워터파크, 놀이공원, 아쿠아리움까지 최저가 할인 예약">

	<link rel="shortcut icon" href="/img/images/web_v3/favicon_170822.ico" type="image/x-icon">

	<!-- CSS -->
	<title>취향대로 머물다 여기어때</title>
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="canonical" href="../../../../../../../../../s/lyju7/OneDrive/바탕%20화면">
	<script type="text/javascript" src="/js/library/jquery-1.12.4.min.js"></script>

	<script>
		var _BASE_URL = '../';
		var _MOBILE = 'W';
		var _KAKAOTALK_APP_KEY = 'f6ffb505bb11d7cc3584d443ce35f704';
		var _FACEBOOK_APP_ID = '607467975974643';
	</script>

	<style>
		.validate_msg_label {
			margin-top: 30px;
			display: inline-block;
			font-size: 13px;
			color: red;
		}
	</style>


</head>

<body>

<!-- Wrap -->
< class="wrap">

	<!-- 헤더 -->
	<div th:replace="userthy/user-headerlogin :: user-headerlogin"></div>
	<!--헤더 끝 -->

	<!-- Bg Dimm -->
	<div class="bg_dimm" onclick="close_layer();">&nbsp;</div>
<!--	<div class="bg_dimm_prevent">&nbsp;</div>-->

	<!-- 추천검색어 -->
	<div class="recommend_srch">
		<div class="scroll_srch">
			<div class="scroller">
				<div class="default" style="display:block">
					<strong>추천 검색어</strong>
					<ul></ul>
				</div>
				<!-- 연관검색어 -->
				<div class="chain">
					<ul></ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile Menu -->
	<div class="gnb_opacity"><button class="btn_close">닫기</button></div>
	<div class="menu_wrap">

		<div class="menu">
			<div class="top">
				<!-- 회원 -->
				<div class="member">
					<div class="mem">
                            <span class="pic"
								  style="background:url('/img/profile/ico/ico_22.png') 50% 50% no-repeat;"></span>
						<p class="info">사과색깔</p>
					</div>
					<div class="bot">
					</div>
				</div>
			</div>
			<!-- Iscroll -->
			<div class="scroll_nav">
				<div class="scroller">
					<ul>
						<li><a href="../userindex/">홈</a></li>
						<li class="depth_2">
							<button type="button" class="has_ul"><span>숙소유형</span></button>
							<ul>
								<li><a href="/userindex/1">모텔</a></li>
								<li><a href="/userindex/2">호텔/리조트</a></li>
								<li><a href="/userindex/3">펜션</a></li>
								<li><a href="/userindex/4">리조트</a></li>
								<li><a href="/userindex/5">캠핑·글램핑</a></li>
								<li><a href="/userindex/6">게스트하우스</a></li>
								<li><a href="/userindex/7">한옥 </a></li>
							</ul>
						</li>
						<li><a href="/userindex/8">내주변</a></li>
					</ul>
					<ul>
						<li><a href="/userindex/reservations">예약 내역</a></li>
						<li><a href="/userindex/mypage">내 정보 관리</a></li>
					</ul>
					<ul>
						<li class="depth_2"><button type="button" class="has_ul"><span>더보기</span></button>
							<ul>
								<li><a href="/userindex/notice">공지사항</a></li>
								<li><a href="/userindex/event">이벤트</a></li>
								<li><a href="/userindex/project">혁신 프로젝트</a></li>
								<li><a href="/userindex/faq">고객문의</a></li>
								<li><a href="/userindex/terms">약관 및 정책</a></li>
							</ul>
						</li>
					</ul>
					<div class="center">
						<p>여기어때 고객행복센터</p>
						<p><a href="tel:1670-6250">1670-6250</a></p>
						<p>오전 9시 - 새벽 3시</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Mobile Menu -->

	<!-- CSS -->
	<link rel="stylesheet" href="/css/my.css" />
	<link rel="stylesheet" href="/css/withdraw.css" />
	<link rel="stylesheet" href="/css/font.css" />
	<!-- Sub Top -->
	<div class="sub_top_wrap">
		<div class="sub_top bg_kong_2">
			<h2>내정보</h2>
		</div>
	</div>
	<!-- //Sub Top -->
	<!-- Content  -->
	<div id="content" class="sub_wrap my_wrap">
		<p class="sub_title">내 정보 관리</p>

		<!-- Nav -->
		<nav>
			<ul>
				<li><a class="active" href="/userindex/mypage">내 정보 관리</a></li>
				<li><a class="" href="/userindex/reservations">예약 내역</a></li>
				<li><a class="" href="/userindex/zzim">찜 목록</a></li>
			</ul>
		</nav>
		<div class="align_rt">
			<div class="mypage">
				<form name="form1" action="../my/mypageInfoUpdate" autocomplete="off"
					  method="post" novalidate data-form="unick">
					<!-- 폼전송시 전달되는 data target element -->
					<div class="mypageForm__form-inputs-wrap" aria-hidden="true">
						<input type="text" name="unick" id="test1" aria-hidden="true" value="노젓는사과" />
						<input type="text" name="uname" aria-hidden="true" value="이*름" />
						<input type="tel" name="uphone" aria-hidden="true" value="010****8282" />
					</div>

					<input type="hidden" name="yeogi_token" value="a3e6e73f01e3651f13dfb071dd1a1500">
					<input type="hidden" id="utype" name="utype" value="1">
					<input type="hidden" name="utype" value="1">
					<!--// 폼전송시 전달되는 data target element -->
					<section class="top_area" >
						<strong>내 정보 수정</strong>
						<div class="login_info">
							<div><img src="/img/profile/ico/ico_21.png" alt=""></div>
							<p class="memEmail">email@email.com</p>
						</div>

						<div class="pw_input">
							<div class="pw_input__title">
								<b>닉네임</b>
								<span class="title__uinfo memNkname">노젓는사과</span>
							</div>
							<section class="modifying-section">
								<p class="inp_wrap remove form-errors">
									<input type="text" id="memNkname" class="memNkname" value="" placeholder="체크인시 필요한 정보입니다."
										   data-input="unick" data-msg-required="닉네임을 입력하세요." data-rule-minlength="2"
										   data-rule-spaceChar="true" data-rule-specialChar="true" />
								</p>
								<button type="button" class="btn_etc btn_confirm active"
										onclick="generator();">랜덤닉네임</button> <!-- 활성화 클래스 'active' -->
							</section>
							<div class="pw_input__btns-wrap">
								<button class="btns-wrap__edit-btn" type="button">수정</button>
								<button class="btns-wrap__submit-btn" type="button" onclick="renameit();">수정완료</button>
								<button class="btns-wrap__cancel-btn" type="button">수정취소</button>
							</div>
						</div>
					</section>
				</form>
				<form name="form2" action="/userindex/mypage" autocomplete="off"
					  method="post" novalidate data-form="uname">
					<!-- 폼전송시 전달되는 data target element -->
					<div class="mypageForm__form-inputs-wrap" aria-hidden="true">
						<input type="text" name="unick" aria-hidden="true" value="노젓는사과" />
						<input type="text" name="uname" aria-hidden="true" value="이*름" />
						<input type="tel" name="uphone" aria-hidden="true" value="010****8282" />
					</div>
					<input type="hidden" name="yeogi_token" value="a3e6e73f01e3651f13dfb071dd1a1500">
					<input type="hidden" name="utype" value="1">

					<section class="top_area" style="display: none;">
						<div class="pw_input">
							<div class="pw_input__title">
								<b>예약자 이름</b>
								<span class="title__uinfo">이*름</span>
							</div>
							<section class="modifying-section">
								<p class="inp_wrap remove form-errors">
									<!--체크인 입력란-->
									<input type="text" id="uname" class="rename" value="" placeholder="체크인시 필요한 정보입니다."
										   data-input="uname" data-rule-spaceChar="true"
										   data-rule-specialChar="true" />
								</p>
							</section>
							<div class="pw_input__btns-wrap">
								<button class="btns-wrap__edit-btn" type="button"
										style="?android:attr/borderlessButtonStyle">수정</button>
								<button class="btns-wrap__submit-btn renameBtn" type="button" onclick="repaynameit();">수정완료</button>
								<button class="btns-wrap__cancel-btn" type="button"
										style="?android:attr/borderlessButtonStyle">수정취소</button>
							</div>
						</div>
					</section>
				</form>

				<form name="form3" action="/userindex/mypage" autocomplete="off"
					  method="post" novalidate data-form="uphone">
					<section>
						<!-- 폼전송시 전달되는 data target element -->
						<div class="mypageForm__form-inputs-wrap" aria-hidden="true">
							<input class="memNkname" type="text" name="unick" aria-hidden="true" value="노젓는사과" />
							<input class="" type="text" name="uname" aria-hidden="true" value="이*름" />
							<input class="memHp" type="tel" name="uphone" aria-hidden="true" value="010****8282" />
						</div>
						<input type="hidden" name="yeogi_token" value="a3e6e73f01e3651f13dfb071dd1a1500">
						<input type="hidden" name="utype" value="1">
						<div class="pw_input phone_confirm">
							<div class="pw_input__title">
								<b>휴대폰 번호</b>
								<span class="title__uinfo memHp memHp2">010****8282</span>
								<div class="safety_txt">개인 정보 보호를 위해 내 정보는 모두 안전하게 암호화됩니다.</div>
							</div>
							<div class="modifying-section">
								<div id="sendCode">
									<section>
										<div class="inp_wrap remove form-errors">
											<input type="tel" id="phone_number" value="" class="ahn_memHp"
												   placeholder="체크인시 필요한 정보입니다." maxlength="13" data-input="uphone"
												   data-msg-required="휴대폰 번호를 인증받으세요." data-rule-phonenumber="true" />
											<button type="button" class="btn_checked">확인</button>
										</div>
										<button type="button" class="btn_send btn_confirm">인증번호 전송</button>
										<!-- 활성화 클래스 'active' -->
									</section>
								</div>
								<div id="verificationCode" style="display: none">
									<b>인증 번호</b>
									<section>
										<div class="inp_wrap remove">
											<input type="tel" id="digit" minlength="4" maxlength="4">
											<span class="time">&nbsp;</span>
											<div id="digitResult" class="validate_msg_label" style="margin-bottom: 0px;"></div>
										</div>
										<button type="button" class="btn_ok btn_confirm"
												data-verification-type="call"
												data-verification-next="mypageVerify">확인</button>
									</section>
								</div>
								<input type="hidden" id="phone_certification_point" value="MYPAGE"
									   style="display: none;">
							</div>
							<div class="pw_input__btns-wrap">
								<button class="btns-wrap__edit-btn " type="button">수정</button>
								<button class="btns-wrap__submit-btn" type="button" onclick="reHp();">수정완료</button>
								<button class="btns-wrap__cancel-btn" type="button">수정취소</button>
							</div>
						</div>
					</section>
				</form>
				<!-- <button class="btn_submit disabled btn_one" type="submit">저장</button>-->

				<p class="bot_link"><a th:href="@{/userindex/forgot_password}">비밀번호 변경</a> &gt;</p>
			</div>

			<div class="bot_btn">
				<p>여기어때를 이용하고 싶지 않으신가요?</p>
				<a class="junglogout" th:href="@{/dologout}" type="button">로그아웃</a>
				<button type="button" onclick="withdrawPopOpen(1);">회원탈퇴</button>
			</div>
		</div>
	</div>
	<!-- //Content  -->

	<!-- 팝업 : 회원탈퇴 pop_layer_w('pop_withdraw') -->
	<div class="layer_w pop_withdraw">
		<section>
			<div class="fix_title">
				<strong>회원탈퇴</strong>
				<button onclick="layer_w_close();">닫기</button>
			</div>
			<div class="cont">
				<b>주의사항</b>
				<strong>회원탈퇴 전 반드시 확인해주세요.</strong>
				<ul class="dot_txt">
					<li>회원탈퇴 시 계정 정보는 복구가 불가하며 1일 이후 재가입 가능합니다.</li>
					<!-- <li>탈퇴 후, 기존 가입 휴대기기로 재가입 시 첫 혜택을 받을 수 없습니다. (신규 회원 쿠폰, 첫 리뷰 작성 1000포인트 등)</li> -->
				</ul>
				<div class="fix_wrap">
					<p><input type="checkbox" class="inp_chk_03" id="residue_night">
						<label for="residue_night">주의사항 모두 동의합니다.</label>
					</p>
					<button class="btn_submit disabled" onclick="userout();">회원탈퇴</button>
				</div>
			</div>
		</section>
	</div>
	<!-- 회원탈퇴 .new_pop_withdraw -->

	<div class="layer_w new_pop_withdraw">
		<section class="section_fix_title">
			<div class="fix_title">
				<strong>회원탈퇴</strong>
				<button onclick="layer_w_close();">닫기</button>
			</div>
		</section>
		<section class="cont cont_section">
			<!-- step1 -->
			<div class="cont-step cont-step_01" id="contStep01">
				<div class="cont-step_preface">
					<h1>떠나시기 전 <span class="point-text">잠깐!</span> <span class="break-tag">해결해야할 게 있어요</span></h1>
					<p>숙박이나 티켓 이용을 완료해 주시거나<span class="break-tag">잔액을 모두 환불하셔야 탈퇴가 가능해요</span></p>
				</div>
				<!-- 보유목록 :: 내역 없으면 아이템 미노출 -->
				<ul class="retention-list">
				</ul>
				<div class="guide-text">
					<ul>
						<li>현금성(유상)포인트는 여기어때에서 현금처럼 사용하실 수 있는 결제수단으로 숙박 및 모바일 티켓 구매 시 사용 가능해요.</li>
						<li><em>현금성(유상)포인트 보유 시 ‘환불 신청 접수하기’</em> 버튼을 통해 환불 신청 부탁드 리며, <em>환불받을 은행, 계좌번호, 예금주 정보가
							정확히 등록된 경우에만 처리가 가능해요.</em></li>
						<li class="point-text">환불 처리를 위한 모든 정보가 확인되면 현금성(유상)포인트가 먼저 회수되며, 계좌 환불까지는 <em>영업일 기준 7일~10일
							소요돼요.</em></li>
						<li><em>환불 신청 및 답변 내역은 ‘더보기 &gt; 고객문의 &gt; 1:1문의’에서 확인가능</em>해요.</li>
						<li>즉시 회원 탈퇴를 원하시면 고객행복센터 <a href="tel:+821670-6250">1670-6250</a>로 문의 부탁드려요.</li>
					</ul>
				</div>
			</div>
			<!--// step1 -->
			<!-- step2 -->
			<div class="cont-step cont-step_02" id="contStep02">
				<div class="cont-step_preface">
					<h1>왜 떠나시는지 <span class="break-tag"><span class="point-text">이유</span>가 있을까요?</span></h1>
				</div>
				<!-- 탈퇴이유 -->
				<ul class="reason-list">
					<li>
						<input id="reasonRdo0" type="radio" name="radios" value="사용을 잘 안하게 돼요">
						<label for="reasonRdo0">사용을 잘 안하게 돼요</label>
						<div class="reason-innder-box reason-innder-box0">

						</div>
					</li>
					<li>
						<input id="reasonRdo1" type="radio" name="radios" value="예약하고 싶은 숙소가 없어요">
						<label for="reasonRdo1">예약하고 싶은 숙소가 없어요</label>
						<div class="reason-innder-box reason-innder-box1">

						</div>
					</li>
					<li>
						<input id="reasonRdo2" type="radio" name="radios" value="예약, 취소, 혜택받기 등 사용이 어려워요">
						<label for="reasonRdo2">예약, 취소, 혜택받기 등 사용이 어려워요</label>
						<div class="reason-innder-box reason-innder-box2">
						</div>
					</li>
					<li>
						<input id="reasonRdo3" type="radio" name="radios" value="혜택(포인트)이 너무 적어요">
						<label for="reasonRdo3">혜택(포인트)이 너무 적어요</label>
						<div class="reason-innder-box reason-innder-box3">
						</div>
					</li>
					<li>
						<input id="reasonRdo4" type="radio" name="radios" value="개인정보 보호를 위해 삭제할 정보가 있어요">
						<label for="reasonRdo4">개인정보 보호를 위해 삭제할 정보가 있어요</label>
						<div class="reason-innder-box reason-innder-box4">

						</div>
					</li>
					<li>
						<input id="reasonRdo5" type="radio" name="radios" value="다른 계정이 있어요">
						<label for="reasonRdo5">다른 계정이 있어요</label>
						<div class="reason-innder-box reason-innder-box5">

						</div>
					</li>
				</ul>
				<div class="password-wrap">
<!--					<label for="passwordUser">비밀번호 입력</label>-->
<!--					<input id="passwordUser" type="password" name="pwWithdraw" placeholder="비밀번호를 입력하세요." />-->

					<div class="button-wrap"><button class="btn_submit disabled" onclick="del()"
													 id="passwordCheckBtn">회원탈퇴</button></div>
				</div>
			</div>
			<!--// step2 -->
	</div>

	<!--// 회원탈퇴 .new_pop_withdraw -->
	<script>
		$(document).ready(function () {
			var uTypeNum = 1;
			pwRdoValid(uTypeNum);
			agreeChk();
			// 회원탈퇴 팝업 스크롤
			$('.cont_section').scroll(function () {
				var cst = $('.cont_section').scrollTop();
				if (cst != 0) {
					$('.new_pop_withdraw .section_fix_title').addClass('scrolling');
				} else {
					$('.new_pop_withdraw .section_fix_title').removeClass('scrolling');
				}
			});
		})
	</script>


	<!-- 푸터 -->
	<div th:replace="userthy/user-footer :: user-footer"></div>
	<!--푸터 끝 -->


</div>

<!-- 상단으로 -->
<button class="btn_go_top" onclick="moveTop();">상단으로</button>

<!-- //Wrap -->

<!-- Script -->
<!-- Library -->
<script type="text/javascript" src="/js/library/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/library/jquery.lazyload.js"></script>
<script type="text/javascript" src="/js/library/iscroll.js"></script>

<!-- Service -->
<script type="text/javascript" src="/js/service/common.js"></script>
<script type="text/javascript" src="/js/service/geolocation.js"></script>

<!-- Module -->
<script type="text/javascript" src="/js/modules/dialogPopup.js"></script>

<!-- Page Script -->
<script type="text/javascript" src="/js/library/validation/jquery.validate.js"></script>
<script type="text/javascript" src="/js/library/validation/localization/messages_ko.js"></script>
<script type="text/javascript" src="/js/library/validation/additional-methods.js"></script>
<script type="text/javascript" src="/js/service/validate.js"></script>
<script type="text/javascript" src="/js/service/my.js"></script>
<script type="text/javascript" src="/js/service/mypage.js"></script>
<script type="text/javascript"
		src="/js/service/phone-verification.js"></script>

<!-- Body Spinner -->
<!--<div class="spinner show"><span></span></div>-->



<!--전화번호 인증-->
<script>
	$(function () {
		//문자 인증번호 전송
		var code = "";  //매번 인증시 코드가 변경되어야 함으로 var를 사용
		$(".btn_send").on("click", function () {
			var regPhone = /^01([0|1|6|7|8|9])([0-9]{3,4})([0-9]{4})$/; //휴대폰 번호 유효성 검사 하이픈(-)제외
			var text= document.getElementById('phone_number').value;
			if (!regPhone.test(text)) {
				alert('잘못된 휴대폰번호입니다.');
				$('#phone_number').focus();
				clearInterval(timer); // 타이머 멈추기
				$('.time').html(""); //만약 타이머 보였다면 없애기
				startTimer(180, display);
				return false;

			}else {

				$("#verificationCode").attr("style", "display: block;");   //인증번호 input태그 출력

				const phone = $("#phone_number").val();    //폰 번호
				code = (String(Math.random())).substring(3, 7);  //랜덤 생성 index 3부터 7까지 substring으로 끊어냄

				console.log(phone); //입력받은 폰번호
				console.log(code); // 입력받은 인증확인코드

				//url 실행으로 팝업 사용
				let url = "/sms?phone=" + phone + "&code=" + code;    //메일: "/mail?phone"  ,  //문자: "/sms?phone=" 이코드로 컨트롤러 메소드 실행
				let send = window.open(url, '인증번호 전송', 'width=430,height=500,location=no,status=no,scrollbars=yes');

				$.ajax({    //url을 팝업으로 열어서 함수 실행이 완료되면, 자동으로 사라짐
					type: "GET",
					success: function () { //위 코드들이 성공적으로 실행된다면,
						send.close();
					}
				});
			}
		});

		//인증확인 클릭
		$(".btn_send").click(function (e) {
			var timer = null;
			var isRunning = false;
			var display = $('.time');
			var leftSec = 180;
			// 남은 시간
			// 이미 타이머가 작동중이면 중지
			if (isRunning) {
				clearInterval(timer);
				display.html("");
				startTimer(leftSec, display);
			} else {
				startTimer(leftSec, display);
			}
		});

		//인증번호 일치 확인 문구
		$(".btn_ok").on("click", function () {
			if ($("#digit").val() == code) {
				($("#digitResult").html("일치합니다"));
				clearInterval(timer);   //인증확인 일치할경우 타이머멈추기
				$('.time').html("");    //타이머 사라지게하기
				$('.btn_ok').removeClass("active");
				$('#verificationCode').css( 'display', 'none' );
				$('.btn_send').removeClass("active");
				$('.btn_send').attr( "style", "display: none;" );
				$('.btn_send').attr("disabled", "disabled");
				$('.btn_send').css({ background: '#ccc' });
			} else {
				($("#digitResult").html("일치하지 않습니다"));

			}
		})


		// 타이머
		function startTimer(count, display) {

			var minutes, seconds;
			timer = setInterval(function () {
				minutes = parseInt(count / 60, 10);
				seconds = parseInt(count % 60, 10);

				minutes = minutes < 10 ? "0" + minutes : minutes;
				seconds = seconds < 10 ? "0" + seconds : seconds;

				display.html(minutes + ":" + seconds);

				// 타이머 끝
				if (--count < 0) {
					clearInterval(timer);
					alert("시간초과");
					display.html("시간초과");
					$('.btn_ok').attr("disabled", "disabled");
					$('.btn_ok').css({ background: '#ccc' });
					isRunning = false;
				}
			}, 1000);
			isRunning = true;
		}



	});





</script>
<!--랜덤닉네임-->
<script>
	var adjective = ["이구아나닮은", "몰리엄마", "동탄사는", "자취하는", "혼맥하는", "이천시민"]
	var object = ["이정훈", "이민정", "조명준", "표제인", "안연주", "정상훈"]

	function generator() {
		document.getElementById("memNkname").value = adjective[Math.floor(Math.random() * adjective.length)] + object[Math.floor(Math.random() * object.length)]
	};
</script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	axios.get('/api/tbmem/mlist/' + sessionId, {

	}).then(function (response){
		console.log(response)
		let memEmail = response.data.data.memEmail;
		let memNkname = response.data.data.memNkname
		let memHp = response.data.data.memHp;
		console.log('memEmail : '+ memEmail);
		console.log('memNkname : '+ memNkname);
		console.log('memHp : '+ memHp);


		$('.memEmail').text(memEmail);

		$('.memNkname').text(memNkname);
		$('#memNkname').attr('value',memNkname);
		$('.memHp').text(memHp);



	}).catch(function (err){
		console.log(err)
	});


	function renameit(){
		let memNkname = $('#memNkname').val();
		console.log('입력 memNkname : '+memNkname);
		if (confirm("닉네임을 수정하시겠습니까??") == true){
			axios.request({
				method: 'PATCH',
				url: '/api/tbmem/nkname/' + sessionId,
				headers: {'Content-type':'application/json'},
				data: {
					transaction_time:"2019-10-01",
					resultCode:"OK",
					description:"OK",
					data:{
						memNkname: memNkname
					}
				}
			}).then(
					alert('닉네임이 수정되었습니다')

			)
			location.href='/userindex/mypage'


		}else{   //취소

			return;

		}

	}

	function repaynameit() {

		if (confirm("예약자이름을 수정하시겠습니까??") == true) {
			axios.request({
				method: 'PATCH',
				url: '/api/tbmem//' + sessionId,
				headers: {'Content-type': 'application/json'},
				data: {
					transaction_time: "2019-10-01",
					resultCode: "OK",
					description: "OK",
					data: {
						memNkname: memNkname
					}
				}
			}).then(
					alert('예약자이름이 수정되었습니다')
			)
			location.href = '/userindex/mypage'


		} else {   //취소

			return;

		}

	}

	function reHp(){
		let memHp = $('.ahn_memHp').val();
		console.log('입력 memHp : '+memHp);
		if (confirm("휴대폰 번호를 수정하시겠습니까??") == true){    //확인

			axios.request({
				method: 'PATCH',
				url: '/api/tbmem/hp/' + sessionId,
				headers: {'Content-type':'application/json'},
				data: {
					transaction_time:"2019-10-01",
					resultCode:"OK",
					description:"OK",
					data:{
						memHp: memHp
					}
				}
			}).then(
					alert('휴대폰 번호가 수정되었습니다')

			)
			location.href='/userindex/mypage'

		}else{   //취소

			return;

		}


	}

	function del(){
		let memNkname = $('#memNkname').val();
		let memHp = $('.memHp2').text();
		let memEmail = $('.memEmail').text();
		var reason = $('input:radio[name="radios"]:checked').val();

		console.log(memNkname);
		console.log(memHp);
		console.log(reason);
		console.log(memEmail);
		if (confirm("정말 탈퇴하시겠습니까?") == true){
			axios.request({
				method: 'POST',
				url: '/api/memc8/cc/',
				headers: {'Content-type':'application/json'},
				data: {
					transaction_time:"2019-10-01",
					resultCode:"OK",
					description:"OK",
					data:{
						id: sessionId,
						memHp : memHp,
						memNkname : memNkname,
						reason : reason,
						memEmail : memEmail
					}
				}

			}).then(
					axios.delete('/api/tbmem/mlist/' + sessionId , {
					}).then(function (response){
					}).catch(function (err){
						console.log('삭제중 에러')
						console.log(err);
					}),
					// session.invalidate(),
					alert('성공적으로 탈퇴 되었습니다')

			)
			location.href='/userindex/'
		}else{   //취소

			return false;

		}

	}

</script>

</body>

</html>