<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type">
    <meta name="csrf-name" content="yeogi_token">

    <meta name="description" content="여기어때 회원 가입 | 전국 호텔, 펜션, 모텔부터 워터파크, 놀이공원, 아쿠아리움까지 최저가 할인 예약">

    <link rel="shortcut icon" href="/img/images/web_v3/favicon_170822.ico" type="image/x-icon">

	<!-- CSS -->
	<title>취향대로 머물다 여기어때</title>
	<link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/ahn_heartAnimationCss.css" />
	<link rel="canonical" href="../../../../../../../../../s/lyju7/OneDrive/바탕%20화면">
    <script type="text/javascript" src="/js/library/jquery-1.12.4.min.js"></script>

	<script>
		var _BASE_URL = '../';
		var _MOBILE = 'W';
		var _KAKAOTALK_APP_KEY = 'f6ffb505bb11d7cc3584d443ce35f704';
		var _FACEBOOK_APP_ID = '607467975974643';
	</script>
	<script>(function (a, b, c) { if (c in b && b[c]) { var d, e = a.location, f = /^(a|html)$/i; a.addEventListener("click", function (a) { d = a.target; while (!f.test(d.nodeName)) d = d.parentNode; "href" in d && (d.href.indexOf("http") || ~d.href.indexOf(e.host)) && (a.preventDefault(), e.href = d.href) }, !1) } })(document, window.navigator, "standalone")</script>
</head>

<body>

	<!-- Wrap -->
	<div class="wrap">

     <!-- 헤더 -->
        <div th:replace="userthy/user-headerlogin :: user-headerlogin"></div>
        <!--헤더 끝 -->

        <!--찜 했는지 확인 여부-->
        <input type="hidden" id="zzim_overlap" class="zzim_overlap">
<!--        zzimid-->
        <input type="hidden" id="zzimid" class="zzimid">
<!--        hostid-->
        <input type="hidden" id="hostid" class="hostid">


        <!-- Bg Dimm -->
        <div class="bg_dimm" onclick="close_layer();">&nbsp;</div>
        <div class="bg_dimm_prevent">&nbsp;</div>

        <!-- 추천검색어 -->
        <div class="recommend_srch">
            <div class="scroll_srch">
                <div class="scroller">
                    <div class="default" style="display:block">
                        <strong>추천 검색어</strong>
                        <ul></ul>
                    </div>
                    <!-- 연관검색어 -->
                    <div class="chain">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="gnb_opacity"><button class="btn_close">닫기</button></div>
        <div class="menu_wrap">

            <div class="menu">
                <div class="top">
                    <!-- 회원 -->
                    <div class="member">
                        <div class="mem">
                            <span class="pic"
                                style="background:url('/img/profile/ico/ico_22.png') 50% 50% no-repeat;"></span>
                            <p class="info">사과색깔</p>
                        </div>
                        <div class="bot">
                        </div>
                    </div>
                </div>
                <!-- Iscroll -->
                <div class="scroll_nav">
                    <div class="scroller">
                        <ul>
                            <li><a href="../userindex/">홈</a></li>
                            <li class="depth_2">
                                <button type="button" class="has_ul"><span>숙소유형</span></button>
                                <ul>
                                    <li><a href="/userindex/1">모텔</a></li>
                                    <li><a href="/userindex/2">호텔/리조트</a></li>
                                    <li><a href="/userindex/3">펜션</a></li>
                                    <li><a href="/userindex/4">리조트</a></li>
                                    <li><a href="/userindex/5">캠핑·글램핑</a></li>
                                    <li><a href="/userindex/6">게스트하우스</a></li>
                                    <li><a href="/userindex/7">한옥 </a></li>
                                </ul>
                            </li>
                            <li><a href="/userindex/8">내주변</a></li>
                        </ul>
                        <ul>
                            <li><a href="/userindex/reservations">예약 내역</a></li>
                            <li><a href="/userindex/mypage">내 정보 관리</a></li>
                        </ul>
                        <ul>
                            <li class="depth_2"><button type="button" class="has_ul"><span>더보기</span></button>
                                <ul>
                                    <li><a href="/userindex/notice">공지사항</a></li>
                                    <li><a href="/userindex/event">이벤트</a></li>
                                    <li><a href="/userindex/project">혁신 프로젝트</a></li>
                                    <li><a href="/userindex/faq">고객문의</a></li>
                                    <li><a href="/userindex/terms">약관 및 정책</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="center">
                            <p>여기어때 고객행복센터</p>
                            <p><a href="tel:1670-6250">1670-6250</a></p>
                            <p>오전 9시 - 새벽 3시</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Mobile Menu -->

		<!-- CSS -->
		<link rel="stylesheet" href="/css/my.css" />
		<link rel="stylesheet" href="/css/withdraw.css" />
		<link rel="stylesheet" href="/css/font.css" />
		<!-- Sub Top -->
		<div class="sub_top_wrap">
			<div class="sub_top bg_kong_2">
				<h2>내정보</h2>
			</div>
		</div>
		<!-- //Sub Top -->
		<!-- Content  -->
		<div id="content" class="sub_wrap my_wrap">
			<p class="sub_title">내 정보 관리</p>

			<!-- Nav -->
            <nav>
                <ul>
                    <li><a class="" href="/userindex/mypage">내 정보 관리</a></li>
                    <li><a class="" href="/userindex/reservations">예약 내역</a></li>
                    <li><a class="active" href="/userindex/zzim">찜 목록</a></li>
                </ul>
            </nav>

			
            <!-- 안연주 찜 목록 -->
            <!-- 안연주 오른쪽 예약 내역  -->
            <style>
                .ahn_zzim_content {
                    border-radius: 2px 2px 0 0;
                    border: 1px solid rgba(0, 0, 0, 0.08);
                    clear: both;
                    margin-bottom: 100px;
            
            
                }
            
                .ahn_zzim_history {
                    font-weight: bold;
                    display: block;
                    padding: 0 0 20px 0;
                    font-size: 18px;
            
                }
            
                .ahn_zzim_info1 {
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                }
            
                .ahn_zzim_info2 {
                    /* float: left; */
                    /* width: 354px; */
                    height: auto;
                    margin: 0 0px 16px 0;
                }
            
                .ahn_zzim_img1 {
            
                    border: 1px solid rgba(0, 0, 0, 0.08);
                    /* background: rgba(107, 80, 80, 0.38); */
                    z-index: 100;
                }
            
                /* 이미지 크기 조정 */
                .ahn_zzim_img1 img {
                    max-height: 1000px;
                    max-width: 100%;
                    position: relative;
                }

                .heart {
                    position: absolute;
                    z-index: 200;
                    margin-left: 666px;
                }
            
                .ahn_zzim_info3 {
                    display: block;
                    position: relative;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    width: 100%;
                    height: auto;
                    padding: 0 0;
                    border: 1px solid rgba(0, 0, 0, 0.08);
                    border-top: none;
                    border-radius: 0 0 2px 2px;
                    background: none;
                    color: rgba(0, 0, 0, 0.87);
                    text-align: center;
                    box-sizing: border-box;
                }
            
                .ahn_zzim_title {
                    padding-bottom: 16px;
                    font-weight: bold;
                    font-size: 20px;
                }
            
                .ahn_re_btn1 {
                    padding-bottom: 10px;
                }
            
                .ahn_re_btn2 {
            
                    width: 144px;
                    height: 48px;
                    display: inline-block;
                    border: none;
                    border-radius: 4px;
                    font-size: 16px;
                    color: #fff;
                    text-align: center;
                    box-sizing: border-box;
                    vertical-align: top;
                    background: linear-gradient(to bottom, #ff0055 0%, #e62243 100%);
                }
            </style>
            
            
            <!-- !안연주 예약, 찜 내역 -->
            
            <!-- 이 페이지에 왔을때 회원이 구매한 숙박업소의 정보가 필요함 -->
            <!-- 버튼 클릭시 숙소 보러가기 리뷰 작성에 각각 정보를 들고 가야함 -->
            <form action="예약찜리스트" method="get">
                <div class="align_rt">
            
            
            
                        <!-- 제목 -->
                        <div class="ahn_zzim_history">찜 내역</div>
                    <div style="margin-bottom: 2rem" class="userli_add"></div>
                        <!-- !안연주 예약, 찜 info box -->
<!--                        <div class="ahn_zzim_content">-->
<!--            -->
<!--            -->
<!--                            <div class="ahn_zzim_info1">-->
<!--                                &lt;!&ndash; 오른쪽 주제 제목 &ndash;&gt;-->
<!--            -->
<!--                                <div class="ahn_zzim_info2">-->
<!--                                    -->
<!--                                    <div class="ahn_zzim_img1">-->
<!--                                        <span class="heart" style="font-size: 50px;">♥</span>-->
<!--                                            <img src="/img/mainimages/userMainImg.jpg" alt="" class="ahn_zzim_img2">-->
<!--                                            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
<!--                                            <script>-->
<!--                                                'use strict';-->
<!--                                                $(function() {-->
<!--                                                    let heart = false;-->
<!--                                                    let font1 = "♡";-->
<!--                                                    $(".heart").css("color","red").on("click", function() {-->
<!--                                                        if(!heart) {-->
<!--                                                            $(".heart").html(font1);-->
<!--                                                            heart = true;-->
<!--                                                        } -->
<!--                                                    });-->
<!--                                                });-->
<!--                                            </script>-->
<!--                                        -->
<!--                -->
<!--                                          -->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="ahn_x"></div>-->
<!--                                <div class="ahn_zzim_info3">-->
<!--                                    <div class="ahn_zzim_title"><a href="#"></a> 이천 힐링</a>-->
<!--                                 </div>-->
<!--                                    <div class="ahn_x"></div>-->
<!--                                    <div class="ahn_zzim_btn ahn_re_btn1" style="display: inline-block;">-->
<!--            -->
<!--                                        &lt;!&ndash;  &ndash;&gt;-->
<!--                                        <span class="ahn_di_span" >-->
<!--                                            <button type="button" href="#" class="ahn_re_btn2" style="margin-left: 30px">-->
<!--                                                숙소 보러가기-->
<!--                                            </button>-->
<!--                                        </span>-->
<!--                                        <span class="heart2" style="font-size: 40px; color: red;" >♥</span>-->
<!--                                      -->
<!--                                    </div>-->
<!--                                </div>-->
<!--            -->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- //!안연주 예약, 찜 info box 끝-->
                        <!-- !안연주 예약, 찜 info box -->
<!--                        <div class="ahn_zzim_content">-->
<!--            -->
<!--            -->
<!--                            <div class="ahn_zzim_info1">-->
<!--                                &lt;!&ndash; 오른쪽 주제 제목 &ndash;&gt;-->
<!--            -->
<!--                                <div class="ahn_zzim_info2">-->
<!--                                    <div class="ahn_zzim_img1">-->
<!--                                        <span class="ahn_di_span">-->
<!--                                            <img src="/img/mainimages/userMainImg.jpg" alt="" class="ahn_zzim_img2">-->
<!--                                        </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="ahn_x"></div>-->
<!--                                <div class="ahn_zzim_info3">-->
<!--                                    <div class="ahn_zzim_title"><a href="#"></a> 이천 힐링</a></div>-->
<!--                                    <div class="ahn_x"></div>-->
<!--                                    <div class="ahn_zzim_btn ahn_re_btn1">-->
<!--            -->
<!--                                        &lt;!&ndash; <a href="#" class="ahn_re_btn2">숙소 보러가기</a> &ndash;&gt;-->
<!--                                        <span class="ahn_di_span">-->
<!--                                            <button type="button" href="#" class="ahn_re_btn2">-->
<!--                                                숙소 보러가기-->
<!--                                            </button>-->
<!--                                        </span>-->
<!--                                    -->
<!--                                    </div>-->
<!--                                </div>-->
<!--            -->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- //!안연주 예약, 찜 info box 끝-->
            
                        <!-- 원본예시 
            <ul class="list_wrap" data-v-e4ab9f08="">
            <li class="reservation-detail" data-v-e4ab9f08=""><div data-v-7a3075bf="" data-v-e4ab9f08=""><button type="button" data-dono="73913052" data-target-list="usedList" class="btn_del" data-v-7a3075bf="">
            삭제
            </button> <p class="pic" data-v-7a3075bf=""><img loading="lazy" srcset="" src="" alt="영등포 굿데이" class="align" data-v-7a3075bf=""></p> 
            <a href="/reservation-detail/73913052" class="product-title" data-v-7a3075bf="">
            <strong data-v-7a3075bf="">영등포 굿데이</strong>
            </a>
            
            <p class="btn_re" data-v-7a3075bf="">
            <a href="https://www.goodchoice.kr/product/detail?ano=66959&amp;adcno=1&amp;sel_date=2021-09-09&amp;sel_date2=2021-09-09" data-v-7a3075bf=""> 다시 예약 </a>
            </p>
            </div>
            </li>
            </ul> -->
            
            
            
            
                    </div>
            </form>


            <!--// 안연주 찜 목록 -->
		</div>
		<!-- //Content  -->


	

        <!-- 푸터 -->
        <div th:replace="userthy/user-footer :: user-footer"></div>
        <!--푸터 끝 -->


	</div>

	<!-- 상단으로 -->
	<button class="btn_go_top" onclick="moveTop();">상단으로</button>

	<!-- //Wrap -->

	<!-- Script -->
	<!-- Library -->
    <script type="text/javascript" src="/js/library/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/library/jquery.lazyload.js"></script>
    <script type="text/javascript" src="/js/library/iscroll.js"></script>

    <!-- Service -->
    <script type="text/javascript" src="/js/service/common.js"></script>
    <script type="text/javascript" src="/js/service/geolocation.js"></script>

    <!-- Module -->
    <script type="text/javascript" src="/js/modules/dialogPopup.js"></script>

	<!-- Page Script -->
	<script type="text/javascript" src="/js/library/validation/jquery.validate.js"></script>
	<script type="text/javascript" src="/js/library/validation/localization/messages_ko.js"></script>
	<script type="text/javascript" src="/js/library/validation/additional-methods.js"></script>
	<script type="text/javascript" src="/js/service/validate.js"></script>
	<script type="text/javascript" src="/js/service/my.js"></script>
	<script type="text/javascript" src="/js/service/mypage.js"></script>
	<script type="text/javascript"
		src="/js/service/phone-verification.js"></script>
		<script src="/js/star3.js"></script>

	<!-- Body Spinner -->
	<div class="spinner show"><span></span></div>
<script>

    $(function(){
        axios.get('/api/tbmem/zzimlist/' +sessionId , {
    }).then(function (response){
        console.log(response);

        let tb = $('');


        for(let i in response.data.data.tbMemApiResponse.tbZzimApiResponseList){






            //zzimid
            let $zzimid = response.data.data.tbMemApiResponse.tbZzimApiResponseList[i].id// zzimid
            $('.zzimid').attr('value',$zzimid);
            console.log("zzimid "+ i +"번 : "+ $zzimid);
            //hostid
            let hostid = response.data.data.tbMemApiResponse.tbZzimApiResponseList[i].tbHostId;
            // let zzim_overlap = response.data.data.tbMemApiResponse.tbZzimApiResponseList[i].tbHostId;
            $('.hostid').attr('value',hostid);
            console.log('hostid : '+i+ '번'+ hostid);
            //memid
            let zzim_overlap = response.data.data.tbMemApiResponse.tbZzimApiResponseList[i].tbMemId;
            console.log('memid : '+i+ '번'+ zzim_overlap);
            // $('.zzim_overlap').attr('value', zzim_overlap);

            //zzimpic
            let zzPic = response.data.data.tbMemApiResponse.tbZzimApiResponseList[i].zzPic;


            axios.get('/api/host/' + hostid + '/hostroom',{

            }).then(function (response){
                console.log(response);

                let $myCorporate = response.data.data.tbHostApiResponse.myCorporate;

            let userli = $(`<div class="ahn_zzim_content">`).append(
                `<div class="ahn_zzim_info1">`+
                <!-- 오른쪽 주제 제목 -->
                `<div class="ahn_zzim_info2">`+
                `<div class="ahn_zzim_img1">`+
                `<div class="ahn_di_span" style="height: 400px">`+
                `<img src="`+zzPic+`" alt="" class="ahn_zzim_img2" style="object-fit: cover;height: 100%;width: 100%;">`+
                `</div>`+
                `</div>`+
                `</div>`+
                `<div class="ahn_x"></div>`+
                `<div class="ahn_zzim_info3">`+
                `<div class="ahn_zzim_title">`  + `<i>`+ $myCorporate +`</i></div>`+
                `<div class="ahn_x"></div>`+
                `<div class="ahn_zzim_btn ahn_re_btn1">`+
                <!--  -->
                `<span class="ahn_di_span">`+
                `<button type="button"  class="ahn_re_btn2" onclick="location.href='/userindex/1_005/`+hostid+ `/`  + sessionId +`'">` +
                '숙소보러가기' +
                // <input type="hidden" className="zzim_" value="`+$zzimid+`">
                // `</button> <div class="ahn_h HeartAnimation animate" value="`+$zzimid+`"></div>`+
                `</span>`+
                <!-- 리뷰 작성 시 원래 비활성화되야겠지만... 일단 보류? -->
                `<span class="ahn_di_span">`+
                ``+
                `</span>`+
                `</div></div></div></div>`
            );

            $('.userli_add').append(userli);


//    찜---------------------------------=====================================================
                //만약 찜 id를 들고다닐 수 있다면? 돌려보고 비교한 memid가 같을때 찜 색을 미리 활성화

                console.log('찜리스트-------------');
                //찜 리스트에서 memid 가져옴




                // let zzimidChk = $('.zzimid').val()
                // let zzim_overlap_click =  $('.zzim_overlap').val()
                // let hostidChk = $('.hostid').val()
                // console.log('참 거짓 찜중복')
                // console.log($('.zzim_overlap').val());
                // console.log(zzim_overlap_click);
                // console.log(parseInt(zzim_overlap_click) == sessionId);
                // console.log(zzim_overlap_click == String(sessionId));
                // console.log(zzim_overlap_click !== String(sessionId));


                // if(zzim_overlap == sessionId){
                //     $(".HeartAnimation").toggleClass("animate")
                // }
                // let zzim_overlap_click
                //
                // //찜이미했을때
                // if(zzim_overlap_click == sessionId){
                //     console.log('정답');
                //
                //     $(".HeartAnimation").toggleClass("animate")
                // }
                // //찜안했을때
                // if(!zzim_overlap_click == sessionId){
                //     console.log('오답');
                //     $(".HeartAnimation").toggleClass("no_animate")
                // }

                //클릭한 것! 만 이벤트 발생시키는법없나?
                $(".HeartAnimation").click(function() {

                    if($(".HeartAnimation").hasClass("no_animate")) {
//             //찜하기
                        axios.request({
                            method: 'POST',
                            url: '/api/zzim/zzim',
                            headers: {'Content-type':'application/json'},
                            data: {
                                transaction_time:"2021-09-27",
                                resultCode:"OK",
                                description:"OK",
                                data:{
                                    tbMemId: sessionId,
                                    tbHostId:hostid

                                }
                            }
                        }).then(
                            // alert('찜완료!'),
                            $(this).toggleClass("no_animate"),
                            $(this).toggleClass("animate"),
                        $('.HeartAnimation').not(this).addClass("animate") // 클릭한 버튼 제외는 글자색은 #111,바탕은 #fff
                        )
                        // $(".heart").html(font1);
                        return false;
                    } else if($(".HeartAnimation").hasClass("animate")) {
                        //이 div가 가진 찜 id를 가지고와야함
                        let delzzimid = $(".HeartAnimation").val();
                        console.log("delzzimid : "+delzzimid)
                        //찜삭제
                        // axios.request({
                        //     method: 'DELETE',
                        //     url: '/api/zzim/delete/' + delzzimid,
                        //     headers: {'Content-type':'application/json'},
                        //     data: {
                        //         transaction_time:"2021-09-27",
                        //         resultCode:"OK",
                        //         description:"OK",
                        //         data:{
                        //         }
                        //     }
                        // }).then(
                        //     alert('찜삭제!'),
                        //     $(this).toggleClass("no_animate"),
                        //     $(this).toggleClass("animate")
                        // )
                        // $(".heart").html(font1);
                        return false;
                    }

                });


                //    찜---------------------------------

            // tb.append(userli);



            }).catch(function (err){
                console.log(err);
            });



        } // for문 끝

        // $('#poduct_list_area').append(userli);
        console.log('했니?');




    }).catch(function(err){
        console.log('axios list 호출중 에러');
        console.log(err);
    }).finally(function (){

    })// axios끝
    });    //    $(function)끝

</script>
</body>

</html>