<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<footer th:fragment="host-footer">
    <div class="footer-init">
        <div class="footer-layer">
            <ul>
                <li class="withinnovation">회사소개</li>
                <li class="usage">이용약관</li>
                <li class="privacy">개인취급방침</li>
                <li class="goodchoice">여기어때 사이트</li>
            </ul>
            <ul>
                <li class="facebook">facebook</li>
                <li class="blog">blog</li>
                <li class="youtube">youtube</li>
            </ul>
        </div>
    </div>
</footer>
</html>