<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">




<header id="host_header" th:fragment="host-header">
    <div class="nav nav-init">
        <div class="wrapper">
            <div class="nav-left-layer">
                <a href="/userindex/"><img src="/host/img/asset/ic_greet.png"></a>
                <span class="nav-text"><strong>대표자</strong> 님 안녕하세요.</span>
                <div class="nav-vertical"></div>
                <img src="/host/img/asset/ic_call.png" class="ml_15">
                <span class="nav-text"><strong>예약문의 1544-4087</strong></span>
            </div>
            <div class="nav-right-layer">
                <a href="/hosthousemain/mypageregist" class="mypageregist_hostid" style="color: white;">
                    <div class="menu-section" id="mypage">
                        <div class="menu-section-layer">
                            <img src="/host/img/asset/ic_mypage.png" href="/host/">
                            <span class="nav-text">마이페이지</span>
                        </div>
                    </div>
                </a>
                <div class="nav-vertical2"></div>
                <div class="menu-section" id="logout">
                    <div class="menu-section-layer ml_20">
                        <img src="/host/img/asset/ic_logout.png">
                        <span class="nav-text">로그아웃</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="header">
            <a href="/hosthousemain/">
                <h1>
                    <img src="//image.goodchoice.kr/images/web_v2/common/img_logo.png" alt="여기어때 호스트하우스" />
                </h1>
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="javascript:void(0)">숙소관리<span class="">&nbsp;</span></a>
                        <ul class="sub">

                            <li><a href="/hosthousemain/introwrite" class="introwrite_hostid">소개 작성</a></li>

                            <li><a href="/hosthousemain/guestdetail" class="guestdetail_hostid">이용규칙 관리</a></li>

                            <li><a href="/hosthousemain/guestroom" class="guestroom_hostid">객실 관리</a></li>

                            <li><a href="/hosthousemain/guestAllReview" class="guestAllReview_hostid">리뷰 관리</a></li>
                        </ul>
                    </li>


                    <li>
                        <a href="javascript:void(0)">예약관리<span class="">&nbsp;</span></a>
                        <ul class="sub">
                            <li><a href="/hosthousemain/scheduleManagement" class="scheduleManagement_hostid">실시간 예약 현황</a></li>
                            <li><a href="/hosthousemain/book">예약 관리</a></li>
                        </ul>
                    </li>



                </ul>
            </nav>
            <div class="divider_vertical"></div>
            <div class="user-area">
                <span class="user-affiliate"></span>
            </div>
            <div class="divider_vertical2"></div>
        </div>
    </div>
<!--    안연주 axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        const sessionId  = sessionStorage.getItem('userid');
        console.log("userid :" + sessionId);

        //1은 임시 세션값 생기면 바꿈
        axios.get('/api/tbmem/tbhost/' + sessionId, {

        }).then(function (response) {
        console.log(response)

            const memid = response.data.data.tbMemApiResponse.id
            console.log(memid);

            // const memEmail = response.data.data.memEmail;
            // $('.memEmail').text(memEmail);

            $(".mypageregist_hostid").attr("href", "/hosthousemain/mypageregist/"+ memid);
            $(".introwrite_hostid").attr("href", "/hosthousemain/introwrite/"+ memid);
            $(".guestdetail_hostid").attr("href", "/hosthousemain/guestdetail/"+ memid);

            const hostid = response.data.data.tbMemApiResponse.tbHostApiResponseList[0].id;
            console.log("hostid"+hostid);
            $(".guestroom_hostid").attr("href", "/hosthousemain/guestroom/"+ memid +"/"+ hostid);
            $(".guestAllReview_hostid").attr("href", "/hosthousemain/guestAllReview/"+ memid +"/"+ hostid);
            //실시간 예약 현황
            $(".scheduleManagement_hostid").attr("href", "/hosthousemain/scheduleManagement/" + hostid);
            console.log("안찎힘")
            // $('input[name=memEmail]').attr('value',memEmail);

        }).catch(function (error) {

        });
    </script>




</header>


</html>